<!DOCTYPE html>
<html>
<head>
	<title>Cúrsame</title>
	<link rel="stylesheet" type="text/css" href="/css/application.scss">
	<script type="text/javascript" src="/js/aplication.js"></script>
</head>
<body>
   <%=  erb :'static_renders/header'%>
   <%= yield %>
   <%=  erb :'static_renders/footer'%>
</body>
</html>