<!DOCTYPE html>
<html>
  <head>
    <title>Cúrsame</title>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/aplication.js"></script>
    <script type="text/javascript" src="/js/featherlight.min.js"></script>
    <%=  erb :'static_renders/olark_zendesk'%>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
  </head>
  <%=  erb :'static_renders/header', locals: {transparent_head: false}%>
  <body>
    <%= yield %>
    <%=  erb :'static_renders/footer' %>
  </body>
</html>