<!DOCTYPE html>
<html>
  <head>
    <title>Cúrsame</title>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/aplication.js"></script>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google-site-verification" content="2iDsswfLsUTCsZEFQ5vlpW4OUwsVwWsqwF5WHqAHuUM" />
    <meta name="robots" content="noindex">
    
    <%=  erb :'static_renders/services'%>
  </head>
  <body>
    <%=  erb :'static_renders/pateheader'%>
    <%= yield %>
    <%#=  erb :'static_renders/footer'%>
  </body>
</html>