<!DOCTYPE html>
<html>
  <head>
    <%= erb :'static_renders/meta_tags'%>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/aplication.js"></script>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    
    <%=  erb :'static_renders/services'%>
  </head>
  <body>
    <%=  erb :'static_renders/pateheader'%>
    <%= yield %>
    <%#=  erb :'static_renders/footer'%>
  </body>
</html>