.btn {
  font-family: $font-radar;
  border-radius: 3px;
  text-align: center;

  &.btn-input {
    @include inline-block;

    input {
      font-size: 13px;
      font-weight: lighter;
      color: $white;
      background: none;
      border: none;
    }

    input:hover {
      background: none;
      color: #0A5F8A;
      border: none;
    }
  }
}

.btn-outline {
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
  background: rgba(255,255,255,.2);
  padding: 10px;

  &:hover {
    background: rgba(255,255,255,.3);
  }
}

.login{
  font-size: 13px;
}

.btn-call {
  background: $white;
  text-align: center;
  padding: 15px;
  color: #D94A27;
}

.btn-suscribe {

  background: white;
  padding: 20px 10px 20px 10px;

  input {
    height: 60px;
    background:none;
    border:none;
    color: #61A10D;
  }

  input:hover {
    background: none;
    border: none;
    color: #0A5F8A;
  }
}

.btn-form {
  float: left;
  border: none;
  background: #0A5F8A;
  border-radius: 3px;

  color: white;
    
  & p{
    font-size: 14px;
  }

  &.btn-input {

    height: auto;
    @include inline-block;

    input {
      color: $white;
      padding: 15px;
      background: none;
      border: 0;
    }

    input:hover {
    background: rgba(255,255,255,.3);
    border: none;
    color: #fff;
    }
  }
}


.btn-embed {
  @include inline-block;
  margin-bottom: 20px;
 
  span {
    cursor: pointer;
  }

  input {
    border-radius: 3px;
    padding: 15px 20px;
    border: 1px solid #0F892C;
    font-size: 13px;
    font-weight: lighter;
    color: $white;
    cursor: pointer;
    background:#5FC12A;
  }

  :hover {
    background-color: #5FC12A;
  }
}

.btn-submit_green {
  @include inline-block;
 
  span {
    cursor: pointer;
  }

  input {
    border-radius: 3px;
    padding: 10px;
    border: none;
    font-size: 13px;
    font-weight: lighter;
    color: $white;
    cursor: pointer;
    background:#5FC12A;
  }

  :hover {
    background-color: #5EA935;
  }
}


.btn-comment {
  @include inline-block;
      input {
      height: 55px;
      position: absolute;
      top:47px; 
      right: 10px; 
      float: right;
    }

  @include max-screen (500px) {
    .btn-comment {
      float:left;
    padding: 5px;
  }
  }
}

.btn-load {
    input,a,p {
      @include inline-block;
      border-radius: 5px;
      font-size: 13px;
      font-weight: lighter;
      padding-top: 0px;
      background: #ececec;
      border: 1px solid #dddddd;
      color: #666;
      height: 40px;
      width: 100%;
    }

  :hover {
    background: #DEDEDE;
    border-radius: 5px;
  }
}

.btn-option {
  font-size: 13px;
  font-weight: thin;
  text-align: center;
  float: left;
  display: block;cursor: pointer;
  background: #e1e1e1;
  padding: 5px;
  width: 40px;
  margin: 10px 5px;
  color: #666;
  }

.singin-button{
  float: right;
  padding-top: 28px;

  li {
    list-style-type: none;
  }

  a.login{
    position: absolute;
    right: 200px;
    font-size: 13px;
    color: #076da9;
  }

  @include max-screen(800px) {
    display: none;
  }
}

.btn-register {
  position: absolute;
  right: 90px;
  top: 20px;
  float: right;
  background:#1e7ac2;
  font-size: 13px;

  a {
    display: block;
    color: $white;
    padding: 7px 10px;
  }

  :hover {
    background:rgba(255,255,255,0.2);
  }
}

.btn-go_to {

  a {
    margin: 20px 20%;
    cursor: pointer;
    display: block;
    background:#00B687;
    padding: 15px 20px;
    text-align: center;
    border-radius: 3px;
    color: $white;
  }

  :hover {
    background:rgba(0,182,135,0.8);
  }
}

.btn-remove {
    @include inline-block;
    
  span {
    cursor: pointer;
  }

  input a {
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #ececec;
    font-size: 13px;
    font-weight: lighter;
    color: $white;
    background: #666;
    cursor: pointer;
  }
  :hover {
    background:rgba(0,0,0,0.1);
  }
}

.reports-btn {
  float: left;
  margin: 0 0 30px 40px;
} 


.btn-new {

  a, span {
    cursor: pointer;
    display: block;
    background:#5FC12A;
    padding: 12px 15px;
    text-align: center;
    border-radius: 3px;
    color: $white;
    width: auto;
    font-size: 13px;
    margin-top: 10px;
  }

  :hover {
    background:rgba(69,160,19,0.9);
  }

  @include max-screen (650px) {
    width: 100%;
    margin: 15px 0;
  }
}

.btn-add {
  margin: 25px 0;

  & a {
    color: #227091;
    padding: 12px 17px;
    border-radius: 3px;
    border: 1px solid #323232;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    background:none;
  }

  :hover {
    color: #323232;
  }
}

.btn-cancel {
  margin: 25px 0;

  & a {
    background: #ececec;
    padding: 12px 17px;
    border-radius: 3px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
  }

  :hover {
    color: #ccc;
  }
}
