<div class="content">	
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<p style="margin-top:150px; font-size:110px; margin-bottom:25px;">500</p>
					<p style="margin-bottom:220px; color:#6E6E6E;">No hemos podido encontrar la página que estas buscando es posible que no exista <%= link_to "regresa al inicio", '../'%>.</p>
				</div>
			</div>
		</div>
	</div>
</div>