<%= erb :'/static_renders/simple_header', locals: {title: 'Convocatoria', icon: true,  call_icon: 'conect'}%>

<div class="wrapper">
	<div class="cols-12">
		<div class="col col-12">
			<div class="col-inner">
				<div class="info">
					<form class="form validate" action="/send_call" method="POST" enctype="multipart/form-data">
						<h1>Contacto</h1>
						Nombre Completo: <input type="text" name="name" required/>
						Cargo que actualmente ocupa: <input type="text" name="charge" required/>
						Email de contacto: <input type="email" name="email" required/>
						Teléfono de la escuela: <input type="text" name="phone" required/>
						Nombre de la Institución: <input type="text" name="institution" required/>
						<%= erb :'/static_views/pate/locations/states'%>
						<p>Nivel de escolaridad</p><br>
						<input type="checkbox" name="option1" value="Básica" > Básica<br>
						<input type="checkbox" name="option2" value="Media Superior" > Media Superior<br>
						<input type="checkbox" name="option3" value="Superior"> Superior<br>
						<input type="checkbox" name="option4" value="Posgrado"> Posgrado<br>
						<p>Matrícula de la escuela en alumnos.</p><input type="text" name="number_of_users" required/>
						<p>Turno(s):</p><br>
						<input type="checkbox" name="option5" value="Matutino"> Matutino<br>
						<input type="checkbox" name="option6" value="Vespertino"> Vespertino<br>
						<p>¿En su escuela se ha realizado la prueba ENLACE?</p><br>
						<input type="radio" name="enlace" value="si" checked> Si<br>
						<input type="radio" name="enlace" value="no"> No<br>
						<p>¿ Si contesto afirmativamente indique el porcentaje de alumnos de su escuela en el nivel bueno y excelente?</p><br>
						<input type="radio" name="calenlace" value="regular" checked>Regular<br>
						<input type="radio" name="calenlace" value="bueno" checked>Bueno<br>
						<input type="radio" name="calenlace" value="excelente"> Excelente<br>
						<p>¿Su escuela cuenta con servicio de internet?</p><br>
						<input type="radio" name="internet" value="si" checked> Si<br>
						<input type="radio" name="internet" value="no"> No<br>
						<p>¿En que zonas de la escuela se tiene servicio de internet? (puede marcar más de una opción)</p><br>
						<input type="checkbox" name="option7" value="Aulas"> Aulas<br>
						<input type="checkbox" name="option8" value="Dirección"> Dirección<br>
						<input type="checkbox" name="option9" value="Centro de computo"> Centro de computo<br>
						<input type="checkbox" name="option10" value="Otras zonas"> Otras zonas<br>
						<input type="checkbox" name="option11" value="No se cuenta con internet"> No se cuenta con internet<br>
						<p>¿Cuál es la velocidad de navegación del servicio de internet en su escuela?</p><br>
						<input type="radio" name="velinternet" value="2a10 MB" checked>2a10 MB<br>
						<input type="radio" name="velinternet" value="11 a 20 MB" checked>11 a 20 MB<br>
						<input type="radio" name="velinternet" value="21 a más"> 21 a más<br>
						<input type="radio" name="velinternet" value="No se cuenta con internet"> No se cuenta con internet<br>
						<%= erb :'/static_views/pate/browsers/browsers'%>
						<p>¿Su escuela cuenta con aula de medios/ centro de computo?</p>
						<input type="radio" name="computers" value="si" checked> Si<br>
						<input type="radio" name="computers" value="no"> No<br>
						<p>Si contesto afirmativamente indique cuantos equipos funcionales tiene dicha aula.</p>
						<input type="text" name="functional_computers" />
						<p>¿ En qué medida cree usted que los docentes de la escuela estarían interesados en utilizar tecnologías de la información y la comunicación en su práctica académica?</p>
						<input type="radio" name="interesdedocentes" value="Nada" checked>Nada<br>
						<input type="radio" name="interesdedocentes" value="Casi nada" >Casi nada<br>
						<input type="radio" name="interesdedocentes" value="Regular"> Regular<br>
						<input type="radio" name="interesdedocentes" value="Mucho" checked> Mucho<br>
						<input type="radio" name="interesdedocentes" value="Totalmente"> Totalmente<br>
						<p>¿En su escuela ya se utilizan las TIC en e l proceso de enseñanza aprendizaje?</p>
						<input type="radio" name="usodetics" value="si" checked> Si<br>
						<input type="radio" name="usodetics" value="no"> No<br>
						<p>¿De qué manera se hace? poner ejemplos.</p>
						<textarea name="examples_from_user_tics"></textarea>
						<p>¿Qué porcentaje de maestros aproximadamente tiene computadora personal en su escuela?</p>
						<input type="text" name="teacheshavecomputers" />
						<p>¿En qué medida cree usted que las Tecnología de la Información y la Comunicación pueden impactar el aprendizaje?</p>
						<input type="radio" name="imactfromtecnologicineducation" value="Nada" checked>Nada<br>
						<input type="radio" name="imactfromtecnologicineducation" value="Casi nada" >Casi nada<br>
						<input type="radio" name="imactfromtecnologicineducation" value="Regular"> Regular<br>
						<input type="radio" name="imactfromtecnologicineducation" value="Mucho" checked> Mucho<br>
						<input type="radio" name="imactfromtecnologicineducation" value="Totalmente"> Totalmente<br>
						<p>¿Desde dónde considera usted que los alumnos regularmente acceden a internet? (puede marcar más de una opción)</p>
						<input type="checkbox" name="option12" value="Computadora personal (lap top)"> Computadora personal (lap top)<br>
						<input type="checkbox" name="option13" value="Computadora de la escuela"> Computadora de la escuela<br>
						<input type="checkbox" name="option14" value="Cyber café"> Cyber café<br>
						<input type="checkbox" name="option15" value="Teléfono inteligente"> Teléfono inteligente<br>
						<input type="checkbox" name="option16" value="Tablet"> Tablet<br>
						<input type="checkbox" name="option17" value="Computadora de escritorio de su hogar"> Computadora de escritorio de su hogar<br>
						<p>En general ¿Qué tan familiarizados considera usted que se encuentran los maestros de su escuela con las Tecnologías de la Información y la Comunicación?</p>
						<input type="radio" name="familiarizadoprofesores" value="Nada" checked>Nada<br>
						<input type="radio" name="familiarizadoprofesores" value="Casi nada" >Casi nada<br>
						<input type="radio" name="familiarizadoprofesores" value="Regular"> Regular<br>
						<input type="radio" name="familiarizadoprofesores" value="Mucho" checked> Mucho<br>
						<input type="radio" name="familiarizadoprofesores" value="Totalmente"> Totalmente<br>
						<input type="submit" value="Enviar convocatoria" class="btn btn-cta menu-get" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>