<div class="content">
	<div class="wrapper">
		<div class="cols-11">
			<div class="col col-12">
				<div class="col-inner">
					<b>Formatos</b>
					<a href="#">Descarga</a>
				</div>
			</div>
		</div>
	</div>
</div>