<div class=" content">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<ul class="button_banner">
            <li>
              <a class="btn btn-cta" href="/<%=session[:locale] %>">
              Quiero ser patrocinador</a>
            </li>
          </ul>				
        </div>
			</div>
		</div>
	</div>
</div>