<div class="intro pate-intro image-banner">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <h1 class="pate"> Programa de Acceso a la Tecnología Educativa</h1>
          <h2 class="pate">¡El esfuerzo es de todos!</h2>
            <div class="buttons_cta">
              <ul class="button_banner">
                <li>
                  <a class="btn btn-apply" href="/<%=session[:locale] %>">
                  Aplicar a la convocatoria</a>
                </li>
              </ul>
            </div>
            <p>Mira la convocatoria <a class="under" href="#"> aquí</a></p>
        </div>
      </div>
    </div>
  </div>
</div>



