<div class="objetive">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-6">
				<div class="col-inner">
					Objetivo general
					<p>	Promover el acceso a la tecnología educativa de calidad a través de subsidios a las 
						escuelas de nivel básico, medio superior y superior de sostenimiento público. </p>
					</div>
			</div>
			<div class="col col-6">
				<div class="col-inner">
					Objetivo específico.
					<p>
						Implementar la plataforma educativa Cúrsame en las escuelas que lo soliciten y cumplan con los requisitos de selección.
					</p>						
				</div>
			</div>
		</div>
	</div>
</div>

