<div class="objetive">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-5">
				<div class="col-inner">
					<div class="info">
						<h3>Objetivo general</h3>
						<p>	
							Promover el acceso a la tecnología educativa de calidad a través de subsidios a las
							escuelas de nivel básico, medio superior y superior de sostenimiento público. 
						</p>
						<h3>Objetivo específico</h3>
						<p>
							Implementar la plataforma educativa Cúrsame en las escuelas que lo soliciten y cumplan con los requisitos de selección.
						</p>
					</div>
				</div>
			</div>
			<div class="col col-7">
				<div class="col-inner">
					<%= image_tag 'pateobj.jpg', '90%' %>
				</div>
			</div>
		</div>
	</div>
</div>