<div class="objetive bg-gray">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-6">
				<div class="col-inner">
					<div class="info">
						<div class="item3 bg-white">
							<i class="i i-ob1"></i>
							<h3><%= t.pate.ob1 %></h3>
							<span>
							<%= t.pate.textob1 %>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-6">
				<div class="col-inner">
					<div class="info">
						<div class="item3 bg-white">
							<i class="i i-ob2"></i>
							<h3>Objetivo específico</h3>
							<span>
							<%= t.pate.textob2 %>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>