<div class="functions content bg-gray">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="priv">
						<b>Privacidad</b>
						<p>Aplica la Ley Federal Protección de Datos Personales en Posesión de
						Particulares. Esta ley tiene la finalidad de regular el tratamiento legítimo
						controlado e informado de datos personales, a efecto de garantizar la privacidad y el derecho a la autodeterminación informativa de las personas.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>