<div class="functions content bg-gray">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="priv">
						<b> <%= t.pate.private %></b>
						<p><%= t.pate.text4 %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>