<div class="content">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<b>Patrocinadores</b>
					<p>La plataforma Cúrsame tiene un costo promedio de $40,000.00 (Cuarenta mil
					pesos mexicanos) al año por plantel educativo. El subsidio como beneficio
					del Programa de Acceso a la Tecnología Educativa varía del 20% al 100% por
					institución.</p>
					<p>Unete al grupo de patricinadores que hacen posibles que los alumnos y profesores tengan a su alcance una de las mejores tecnologías educativas que se ha desarrollado.</p>
				</div>
			</div>
		</div>
	</div>
</div>