<div class="content">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="info">
						<h2>Patrocinadores </h2>
						<p>La plataforma Cúrsame tiene un costo promedio de $40,000.00 (Cuarenta mil
						pesos mexicanos) al año por plantel educativo. El subsidio como beneficio
						del Programa de Acceso a la Tecnología Educativa varía del 20% al 100% por
						institución.</p>
						<p>Unete al grupo de patricinadores que hacen posibles que los alumnos y profesores tengan a su alcance una de las mejores tecnologías educativas que se ha desarrollado.</p>
						
						<div class="buttons_cta">
              <ul class="button_banner">
                <li>
                  <%= image_tag('sponsor_hp.png')%>
                </li>
                <li>
                  <%= image_tag('sponsor_spectron.png')%>
                </li>
                <li>
                  <%= image_tag('sponsor_wayra.png')%>
                </li>
              </ul>
		        </div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>