<div class="functions bg-gray">
		<div class="wrapper">
			<div class="cols-12">
				<div class="col col-12">
					<div class="col-inner">
							<h2>Testimonios</h2>
								<div class="info">
									<div class="quote-box">
										<p class="">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec hendrerit odio. Fusce dignissim turpis at sodales placerat. Nulla mollis venenatis tellus, at imperdiet 
										</p>
									</div>
										<span class="quote">
				 							<h4>Lic. Francisco Fabián Brizuela</h4>
											<h5>Director del Centro de Innovación Tecnológica Educativa Secundarias Técnicas Distrito Federal</h5>
										</span>
							</div>
						</div>
					</div>
				</div>
		</div>
</div>