<div class="content">
	<div class="testimonials">
		<div class="wrapper">
			<div class="cols-11">
				<div class="col col-12">
					<div class="col-inner">
						<b>Testimonios</b>
						<div>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec hendrerit odio. Fusce dignissim turpis at sodales placerat. Nulla mollis venenatis tellus, at imperdiet risus interdum sit amet. In condimentum, massa id efficitur eleifend, felis tortor faucibus nisl, eget porta dolor sapien eu sem. Cras quis blandit odio, vitae facilisis leo. Maecenas tortor dolor, faucibus eget tincidunt vitae, congue eget turpis. Vestibulum fringilla venenatis felis. Suspendisse elementum nec eros sed suscipit. Mauris egestas justo sit amet pharetra hendrerit. Cras et orci commodo, efficitur tellus vitae, rutrum sapien.
						<quote>
 							Lic. Francisco Fabián Brizuela
Director del Centro de Innovación Tecnológica Educativa Secundarias Técnicas Distrito Federal
						</quote>
						</div>
						<div>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec hendrerit odio. Fusce dignissim turpis at sodales placerat. Nulla mollis venenatis tellus, at imperdiet risus interdum sit amet. In condimentum, massa id efficitur eleifend, felis tortor faucibus nisl, eget porta dolor sapien eu sem. Cras quis blandit odio, vitae facilisis leo. Maecenas tortor dolor, faucibus eget tincidunt vitae, congue eget turpis. Vestibulum fringilla venenatis felis. Suspendisse elementum nec eros sed suscipit. Mauris egestas justo sit amet pharetra hendrerit. Cras et orci commodo, efficitur tellus vitae, rutrum sapien.
						<quote>
 							Lic. Francisco Fabián Brizuela
Director del Centro de Innovación Tecnológica Educativa Secundarias Técnicas Distrito Federal
						</quote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>