<div class="content bg-purple pate-how">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="objetive">
						<h2><%= t.pate.t3 %></h2>
						<%= t.pate.text2 %>
						<div class="buttons_cta">
							<ul class="button_banner">
								<li>
									<%= link_to t.pate.full_call , 'pate/call', '',  'btn btn-cta' %>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>