<div class="content bg-purple pate-how">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<div class="objetive">
						<h2>¿Cómo funciona?</h2>
						<p> La convocatoria para aplicar al programa será lanzada en Enero del 2015 y hasta el 1 de diciembre del 2015 estará vigente, o en su defecto hasta alcanzar un máximo de 500,000 Usuarios.</p>
						<p> Los participantes podrán ser todas las escuelas de la República Méxicana desde nivel básico hasta nivel superior, estas escuelas deben ser de sostenimiento público las escuelas privadas no podrán participar.</p>
						<div class="buttons_cta">
							<ul class="button_banner">
								<li>
									<%= link_to 'Para obtener la convocatoria completa da click aquí', 'pate/call', '',  'btn btn-cta' %>
								</li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>