<div class="content">
	<div class="wrapper">
		<div class="cols-11">
			<div class="col col-12">
				<div class="col-inner">
				  <b>¿Cómo funciona?</b>
				  <p>La convocatoria para aplicar al programa será lanzada en Enero del 2015 y hasta el 1 de diciembre del 2015 estará vigente, o en su defecto hasta alcanzar un máximo de 500,000 Usuarios.</p>
				  <p>Los participantes podrán ser todas las escuelas de la República Méxicana desde nivel básico hasta nivel superior, estas escuelas deben ser de sostenimiento público las escuelas privadas no podrán participar.</p>
				  <p>Para obtener la convocatoria completa da click <a href="">aquí</a></p>
				</div>
			</div>
		</div>
	</div>
</div>