<div class="functions content">
  <div class="wrapper">
    <div class="cols-12">

      <div class="col col-6">
        <div class="col-inner">
          <div class="info">
            <h2>Beneficios</h2>
              <p>Info aquí</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>