<div class="functions content">
  <div class="wrapper">
    <div class="cols-12">

      <div class="col col-4">
        <div class="col-inner">
          <div class="item bg-blue">
            <i class="i i-easy"></i>
            <h2>Fácil de usar</h2>
            Herramientas aumentan la productividad y reducen la carga de trabajo para profesores, alumnos y directivos.
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="item bg-blue">
          <i class="i i-tools"></i>
            <h2>Funciones eficientes</h2>
            Nuestras Herramientas aumentan la productividad y reducen la carga de trabajo para profesores, alumnos y directivos.
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="item bg-blue">
          <i class="i i-multi"></i>
            <h2>Multiplataforma</h2>
            Nuestras Herramientas aumentan la productividad y reducen la carga de trabajo para profesores, alumnos y directivos.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>