<div class="functions content">
  <div class="wrapper">
    <div class="cols-12">

      <div class="col col-4">
        <div class="col-inner">
          <div class="item bg-blue">
            hola y asi
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="item bg-blue">
            hola y asi
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <div class="item bg-blue">
            hola y asi
          </div>
        </div>
      </div>

    </div>
  </div>
</div>