<div class="content">
  <div class="wrapper">
    <div class="cols-12">

      <div class="col col-6">
        <div class="col-inner">
          <div class="item">
            <i class="i i-pitch1"></i>
          </div>
        </div>
      </div>
      
      <div class="col col-6">
        <div class="col-inner">
          <div class="item">
            <i class="i i-pitch2"></i>
          </div>
        </div>
      </div>
      
      <div class="col col-6">
        <div class="col-inner">
          <div class="item">
            <i class="i i-pitch3"></i>
          </div>
        </div>
      </div>
      
      <div class="col col-6">
        <div class="col-inner">
          <div class="item">
            <i class="i i-pitch4"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>