<div class="content">
  <div class="wrapper">
    <div class="cols-12">

      <div class="col col-6">
        <div class="col-inner">
          <div class="itempl bg-lightgray">
            <i class="i i-pitch1"></i>
            <h3>Mejora el desempeño académico de tu institución</h3>
          </div>
        </div>
      </div>
      
      <div class="col col-6">
        <div class="col-inner">
          <div class="itempl bg-lightgray">
            <i class="i i-pitch3"></i>
            <h3>Incrementa tus ingresos al aumentar tu matícula</h3>
          </div>
        </div>
      </div>
      
      <div class="col col-6">
        <div class="col-inner">
          <div class="itempl bg-lightgray">
            <i class="i i-pitch3"></i>
            <h3>Comunicación en cualquier momento y lugar</h3>
          </div>
        </div>
      </div>
      
      <div class="col col-6">
        <div class="col-inner">
          <div class="itempl bg-lightgray">
            <i class="i i-pitch4"></i>
            <h3>Toda la información de tu plantel a través de estadísticas</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>