<div class="functions content">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="info">
            <h2>Responsabilidad social</h2>
              <p>Buscamos generar un impacto positivo en la sociedad a través de mejorar la calidad educativa, reducir la brecha digital y detectar oportunamente los focos rojos en comunidades estudiantiles.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>