<div class="head-title bg-orangegradient">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <h3> <i class="i i-rs"></i>
            Compromiso e impacto social</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="social content functions">
  <div class="wrapper">
    <div class="cols-12">

      <div class="col col-4">
        <div class="col-inner">
          <ul class="social_list">          
            <li class="title">Mejora la calidad educativa</li>
            <li>Seguimiento personalizado del avanc educativo de los estudiantes.</li>
            <li>Entrega contenido especializado de acuerdo a las necesidades individuales.</li>
            <li>Aumenta la productividad y permite potenciar la enseñanza y mejorar el aprendizaje.</li>
          </ul>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <ul class="social_list">
          <li class="title">Reduce la brecha digital</li>
            <li>Con apoyo de nuestros aliados llevamos servidores y tabletas a las escuelas que más lo necesitan.</li>
            <li>Apoyamos a los profesores con capacitación y asesoría tecnológica.</li>
            <li>La plataforma promueve el intercambio digital de contenido educativo.</li>
          </ul>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <ul class="social_list">
            <li class="title">Detección oportuna de focos rojos</li>
            <li>A través de diversos indicadores apoyamos en la detección de: Riesgo de deserción escolar.</li>
            <li>Consumo de sustancias.</li>
            <li>"Bullying” escolar.</li>
          </ul>
        </div>
      </div>

      </div>
    </div>
  </div>