<div class="content stats intro intro-stats bg-green">
  <div class="wrapper">
    <div class="cols-12">
        
        <div class="col col-4">
          <div class="col-inner">
            <div class="item">
             <div class="center">
                <i class="i i-stat1"></i>
                <h1>108, 734</h1>
                <span>
                  Usuarios beneficiados
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col col-4">
          <div class="col-inner">
            <div class="item">
              <div class="center">
                <i class="i i-stat2"></i>
                <h1>314</h1>
                <span>
                  Instituciones usando Cúrsame
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col col-4">
          <div class="col-inner">
            <div class="item">
              <div class="center">
                <i class="i i-stat3"></i>
                <h1>32</h1>
                <span>
                   Actividades en la República Mexicana
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


