<div class="functions content bg-green">
  <div class="wrapper">
    <div class="cols-12">
        
        <div class="col col-4">
          <div class="col-inner">
            <div class="item">
             <div class="center">
                <i class="i i-stat1"></i>
                <h1 class="home">108, 734</h1>
                Usuarios beneficiados
              </div>
            </div>
          </div>
        </div>

        <div class="col col-4">
          <div class="col-inner">
            <div class="item">
              <div class="center">
                <i class="i i-stat2"></i>
                <h1 class="home">314</h1>
                Instituciones usando Cúrsame
              </div>
            </div>
          </div>
        </div>

        <div class="col col-4">
          <div class="col-inner">
            <div class="item">
              <div class="center">
                <i class="i i-stat3"></i>
                <h1 class="home">32</h1>
                 Actividades en la República Mexicana
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


