<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Amealco de Bonfil</option>
	<option value="2">Pinal de Amoles</option>
	<option value="3">Arroyo Seco</option>
	<option value="4">Cadereyta de Montes</option>
	<option value="5">Colon</option>
	<option value="6">Corregidora</option>
	<option value="7">Ezequiel Montes</option>
	<option value="8">Huimilpan</option>
	<option value="9">Jalpan de Serra</option>
	<option value="10">Landa de Matamoros</option>
	<option value="11">El Marques</option>
	<option value="12">Pedro Escobedo</option>
	<option value="13">Pe</option>
	<option value="14">Queretaro</option>
	<option value="15">San Joaquin</option>
	<option value="16">San Juan del Rio</option>
	<option value="17">Tequisquiapan</option>
	<option value="18">Toliman</option>
</select>