<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Acaponeta</option>
	<option value="2">Ahuacatlan</option>
	<option value="3">Amatlan de Ca</option>
	<option value="4">Compostela</option>
	<option value="5">Huajicori</option>
	<option value="6">Ixtlan del Rio</option>
	<option value="7">Jala</option>
	<option value="8">Xalisco</option>
	<option value="9">Del Nayar</option>
	<option value="10">Rosamorada</option>
	<option value="11">Ruiz</option>
	<option value="12">San Blas</option>
	<option value="13">San Pedro Lagunillas</option>
	<option value="14">Santa Maria del Oro</option>
	<option value="15">Santiago Ixcuintla</option>
	<option value="16">Tecuala</option>
	<option value="17">Tepic</option>
	<option value="18">Tuxpan</option>
	<option value="19">La Yesca</option>
	<option value="20">Bahia de Banderas</option>
</select>