<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Abasolo</option>
	<option value="2">Aldama</option>
	<option value="3">Altamira</option>
	<option value="4">Antiguo Morelos</option>
	<option value="5">Burgos</option>
	<option value="6">Bustamante</option>
	<option value="7">Camargo</option>
	<option value="8">Casas</option>
	<option value="9">Ciudad Madero</option>
	<option value="10">Cruillas</option>
	<option value="11">Gomez Farias</option>
	<option value="12">Gonzalez</option>
	<option value="13">G</option>
	<option value="14">Guerrero</option>
	<option value="15">Gustavo Diaz Ordaz</option>
	<option value="16">Hidalgo</option>
	<option value="17">Jaumave</option>
	<option value="18">Jimenez</option>
	<option value="19">Llera</option>
	<option value="20">Mainero</option>
	<option value="21">El Mante</option>
	<option value="22">Matamoros</option>
	<option value="23">Mendez</option>
	<option value="24">Mier</option>
	<option value="25">Miguel Aleman</option>
	<option value="26">Miquihuana</option>
	<option value="27">Nuevo Laredo</option>
	<option value="28">Nuevo Morelos</option>
	<option value="29">Ocampo</option>
	<option value="30">Padilla</option>
	<option value="31">Palmillas</option>
	<option value="32">Reynosa</option>
	<option value="33">Rio Bravo</option>
	<option value="34">San Carlos</option>
	<option value="35">San Fernando</option>
	<option value="36">San Nicolas</option>
	<option value="37">Soto la Marina</option>
	<option value="38">Tampico</option>
	<option value="39">Tula</option>
	<option value="40">Valle Hermoso</option>
	<option value="41">Victoria</option>
	<option value="42">Villagran</option>
	<option value="43">Xicotencatl</option>
</select>