<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Apozol</option>
	<option value="2">Apulco</option>
	<option value="3">Atolinga</option>
	<option value="4">Benito Juarez</option>
	<option value="5">Calera</option>
	<option value="6">Ca</option>
	<option value="7">Concepcion del Oro</option>
	<option value="8">Cuauhtemoc</option>
	<option value="9">Chalchihuites</option>
	<option value="10">Fresnillo</option>
	<option value="11">Trinidad Garcia de la Cadena</option>
	<option value="12">Genaro Codina</option>
	<option value="13">General Enrique Estrada</option>
	<option value="14">General Francisco R. Murguia</option>
	<option value="15">El Plateado de Joaquin Amaro</option>
	<option value="16">General Panfilo Natera</option>
	<option value="17">Guadalupe</option>
	<option value="18">Huanusco</option>
	<option value="19">Jalpa</option>
	<option value="20">Jerez</option>
	<option value="21">Jimenez del Teul</option>
	<option value="22">Juan Aldama</option>
	<option value="23">Juchipila</option>
	<option value="24">Loreto</option>
	<option value="25">Luis Moya</option>
	<option value="26">Mazapil</option>
	<option value="27">Melchor Ocampo</option>
	<option value="28">Mezquital del Oro</option>
	<option value="29">Miguel Auza</option>
	<option value="30">Momax</option>
	<option value="31">Monte Escobedo</option>
	<option value="32">Morelos</option>
	<option value="33">Moyahua de Estrada</option>
	<option value="34">Nochistlan de Mejia</option>
	<option value="35">Noria de Angeles</option>
	<option value="36">Ojocaliente</option>
	<option value="37">Panuco</option>
	<option value="38">Pinos</option>
	<option value="39">Rio Grande</option>
	<option value="40">Sain Alto</option>
	<option value="41">El Salvador</option>
	<option value="42">Sombrerete</option>
	<option value="43">Susticacan</option>
	<option value="44">Tabasco</option>
	<option value="45">Tepechitlan</option>
	<option value="46">Tepetongo</option>
	<option value="47">Teul de Gonzalez Ortega</option>
	<option value="48">Tlaltenango de Sanchez Roman</option>
	<option value="49">Valparaiso</option>
	<option value="50">Vetagrande</option>
	<option value="51">Villa de Cos</option>
	<option value="52">Villa Garcia</option>
	<option value="53">Villa Gonzalez Ortega</option>
	<option value="54">Villa Hidalgo</option>
	<option value="55">Villanueva</option>
	<option value="56">Zacatecas</option>
	<option value="57">Trancoso</option>
	<option value="58">Santa Maria de la Paz</option>
</select>