<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Balancan</option>
	<option value="2">Cardenas</option>
	<option value="3">Centla</option>
	<option value="4">Centro</option>
	<option value="5">Comalcalco</option>
	<option value="6">Cunduacan</option>
	<option value="7">Emiliano Zapata</option>
	<option value="8">Huimanguillo</option>
	<option value="9">Jalapa</option>
	<option value="10">Jalpa de Mendez</option>
	<option value="11">Jonuta</option>
	<option value="12">Macuspana</option>
	<option value="13">Nacajuca</option>
	<option value="14">Paraiso</option>
	<option value="15">Tacotalpa</option>
	<option value="16">Teapa</option>
	<option value="17">Tenosique</option>
</select>