<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Abasolo</option>
	<option value="2">Acu</option>
	<option value="3">Allende</option>
	<option value="4">Arteaga</option>
	<option value="5">Candela</option>
	<option value="6">Casta</option>
	<option value="7">Cuatro Cienegas</option>
	<option value="8">Escobedo</option>
	<option value="9">Francisco I. Madero</option>
	<option value="10">Frontera</option>
	<option value="11">General Cepeda</option>
	<option value="12">Guerrero</option>
	<option value="13">Hidalgo</option>
	<option value="14">Jimenez</option>
	<option value="15">Juarez</option>
	<option value="16">Lamadrid</option>
	<option value="17">Matamoros</option>
	<option value="18">Monclova</option>
	<option value="19">Morelos</option>
	<option value="20">Muzquiz</option>
	<option value="21">Nadadores</option>
	<option value="22">Nava</option>
	<option value="23">Ocampo</option>
	<option value="24">Parras</option>
	<option value="25">Piedras Negras</option>
	<option value="26">Progreso</option>
	<option value="27">Ramos Arizpe</option>
	<option value="28">Sabinas</option>
	<option value="29">Sacramento</option>
	<option value="30">Saltillo</option>
	<option value="31">San Buenaventura</option>
	<option value="32">San Juan de Sabinas</option>
	<option value="33">San Pedro</option>
	<option value="34">Sierra Mojada</option>
	<option value="35">Torreon</option>
	<option value="36">Viesca</option>
	<option value="37">Villa Union</option>
	<option value="38">Zaragoza</option>
</select>