<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Ensenada</option>
	<option value="2">Mexicali</option>
	<option value="3">Tecate</option>
	<option value="4">Tijuana</option>
	<option value="5">Playas de Rosarito</option>
</select>