<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Acatlan</option>
	<option value="2">Acaxochitlan</option>
	<option value="3">Actopan</option>
	<option value="4">Agua Blanca de Iturbide</option>
	<option value="5">Ajacuba</option>
	<option value="6">Alfajayucan</option>
	<option value="7">Almoloya</option>
	<option value="8">Apan</option>
	<option value="9">El Arenal</option>
	<option value="10">Atitalaquia</option>
	<option value="11">Atlapexco</option>
	<option value="12">Atotonilco el Grande</option>
	<option value="13">Atotonilco de Tula</option>
	<option value="14">Calnali</option>
	<option value="15">Cardonal</option>
	<option value="16">Cuautepec de Hinojosa</option>
	<option value="17">Chapantongo</option>
	<option value="18">Chapulhuacan</option>
	<option value="19">Chilcuautla</option>
	<option value="20">Eloxochitlan</option>
	<option value="21">Emiliano Zapata</option>
	<option value="22">Epazoyucan</option>
	<option value="23">Francisco I. Madero</option>
	<option value="24">Huasca de Ocampo</option>
	<option value="25">Huautla</option>
	<option value="26">Huazalingo</option>
	<option value="27">Huehuetla</option>
	<option value="28">Huejutla de Reyes</option>
	<option value="29">Huichapan</option>
	<option value="30">Ixmiquilpan</option>
	<option value="31">Jacala de Ledezma</option>
	<option value="32">Jaltocan</option>
	<option value="33">Juarez Hidalgo</option>
	<option value="34">Lolotla</option>
	<option value="35">Metepec</option>
	<option value="36">San Agustin Metzquititlan</option>
	<option value="37">Metztitlan</option>
	<option value="38">Mineral del Chico</option>
	<option value="39">Mineral del Monte</option>
	<option value="40">La Mision</option>
	<option value="41">Mixquiahuala de Juarez</option>
	<option value="42">Molango de Escamilla</option>
	<option value="43">Nicolas Flores</option>
	<option value="44">Nopala de Villagran</option>
	<option value="45">Omitlan de Juarez</option>
	<option value="46">San Felipe Orizatlan</option>
	<option value="47">Pacula</option>
	<option value="48">Pachuca de Soto</option>
	<option value="49">Pisaflores</option>
	<option value="50">Progreso de Obregon</option>
	<option value="51">Mineral de la Reforma</option>
	<option value="52">San Agustin Tlaxiaca</option>
	<option value="53">San Bartolo Tutotepec</option>
	<option value="54">San Salvador</option>
	<option value="55">Santiago de Anaya</option>
	<option value="56">Santiago Tulantepec de Lugo Guerrero</option>
	<option value="57">Singuilucan</option>
	<option value="58">Tasquillo</option>
	<option value="59">Tecozautla</option>
	<option value="60">Tenango de Doria</option>
	<option value="61">Tepeapulco</option>
	<option value="62">Tepehuacan de Guerrero</option>
	<option value="63">Tepeji del Rio de Ocampo</option>
	<option value="64">Tepetitlan</option>
	<option value="65">Tetepango</option>
	<option value="66">Villa de Tezontepec</option>
	<option value="67">Tezontepec de Aldama</option>
	<option value="68">Tianguistengo</option>
	<option value="69">Tizayuca</option>
	<option value="70">Tlahuelilpan</option>
	<option value="71">Tlahuiltepa</option>
	<option value="72">Tlanalapa</option>
	<option value="73">Tlanchinol</option>
	<option value="74">Tlaxcoapan</option>
	<option value="75">Tolcayuca</option>
	<option value="76">Tula de Allende</option>
	<option value="77">Tulancingo de Bravo</option>
	<option value="78">Xochiatipan</option>
	<option value="79">Xochicoatlan</option>
	<option value="80">Yahualica</option>
	<option value="81">Zacualtipan de Angeles</option>
	<option value="82">Zapotlan de Juarez</option>
	<option value="83">Zempoala</option>
	<option value="84">Zimapan</option>
</select>