<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Abasolo</option>
	<option value="2">Acambaro</option>
	<option value="3">San Miguel de Allende</option>
	<option value="4">Apaseo el Alto</option>
	<option value="5">Apaseo el Grande</option>
	<option value="6">Atarjea</option>
	<option value="7">Celaya</option>
	<option value="8">Manuel Doblado</option>
	<option value="9">Comonfort</option>
	<option value="10">Coroneo</option>
	<option value="11">Cortazar</option>
	<option value="12">Cueramaro</option>
	<option value="13">Doctor Mora</option>
	<option value="14">Dolores Hidalgo Cuna de la Independencia Nacional</option>
	<option value="15">Guanajuato</option>
	<option value="16">Huanimaro</option>
	<option value="17">Irapuato</option>
	<option value="18">Jaral del Progreso</option>
	<option value="19">Jerecuaro</option>
	<option value="20">Leon</option>
	<option value="21">Moroleon</option>
	<option value="22">Ocampo</option>
	<option value="23">Penjamo</option>
	<option value="24">Pueblo Nuevo</option>
	<option value="25">Purisima del Rincon</option>
	<option value="26">Romita</option>
	<option value="27">Salamanca</option>
	<option value="28">Salvatierra</option>
	<option value="29">San Diego de la Union</option>
	<option value="30">San Felipe</option>
	<option value="31">San Francisco del Rincon</option>
	<option value="32">San Jose Iturbide</option>
	<option value="33">San Luis de la Paz</option>
	<option value="34">Santa Catarina</option>
	<option value="35">Santa Cruz de Juventino Rosas</option>
	<option value="36">Santiago Maravatio</option>
	<option value="37">Silao</option>
	<option value="38">Tarandacuao</option>
	<option value="39">Tarimoro</option>
	<option value="40">Tierra Blanca</option>
	<option value="41">Uriangato</option>
	<option value="42">Valle de Santiago</option>
	<option value="43">Victoria</option>
	<option value="44">Villagran</option>
	<option value="45">Xichu</option>
	<option value="46">Yuriria</option>
</select>