<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Acajete</option>
	<option value="2">Acatlan</option>
	<option value="3">Acayucan</option>
	<option value="4">Actopan</option>
	<option value="5">Acula</option>
	<option value="6">Acultzingo</option>
	<option value="7">Camaron de Tejeda</option>
	<option value="8">Alpatlahuac</option>
	<option value="9">Alto Lucero de Gutierrez Barrios</option>
	<option value="10">Altotonga</option>
	<option value="11">Alvarado</option>
	<option value="12">Amatitlan</option>
	<option value="13">Naranjos Amatlan</option>
	<option value="14">Amatlan de los Reyes</option>
	<option value="15">Angel R. Cabada</option>
	<option value="16">La Antigua</option>
	<option value="17">Apazapan</option>
	<option value="18">Aquila</option>
	<option value="19">Astacinga</option>
	<option value="20">Atlahuilco</option>
	<option value="21">Atoyac</option>
	<option value="22">Atzacan</option>
	<option value="23">Atzalan</option>
	<option value="24">Tlaltetela</option>
	<option value="25">Ayahualulco</option>
	<option value="26">Banderilla</option>
	<option value="27">Benito Juarez</option>
	<option value="28">Boca del Rio</option>
	<option value="29">Calcahualco</option>
	<option value="30">Camerino Z. Mendoza</option>
	<option value="31">Carrillo Puerto</option>
	<option value="32">Catemaco</option>
	<option value="33">Cazones de Herrera</option>
	<option value="34">Cerro Azul</option>
	<option value="35">Citlaltepetl</option>
	<option value="36">Coacoatzintla</option>
	<option value="37">Coahuitlan</option>
	<option value="38">Coatepec</option>
	<option value="39">Coatzacoalcos</option>
	<option value="40">Coatzintla</option>
	<option value="41">Coetzala</option>
	<option value="42">Colipa</option>
	<option value="43">Comapa</option>
	<option value="44">Cordoba</option>
	<option value="45">Cosamaloapan de Carpio</option>
	<option value="46">Cosautlan de Carvajal</option>
	<option value="47">Coscomatepec</option>
	<option value="48">Cosoleacaque</option>
	<option value="49">Cotaxtla</option>
	<option value="50">Coxquihui</option>
	<option value="51">Coyutla</option>
	<option value="52">Cuichapa</option>
	<option value="53">Cuitlahuac</option>
	<option value="54">Chacaltianguis</option>
	<option value="55">Chalma</option>
	<option value="56">Chiconamel</option>
	<option value="57">Chiconquiaco</option>
	<option value="58">Chicontepec</option>
	<option value="59">Chinameca</option>
	<option value="60">Chinampa de Gorostiza</option>
	<option value="61">Las Choapas</option>
	<option value="62">Chocaman</option>
	<option value="63">Chontla</option>
	<option value="64">Chumatlan</option>
	<option value="65">Emiliano Zapata</option>
	<option value="66">Espinal</option>
	<option value="67">Filomeno Mata</option>
	<option value="68">Fortin</option>
	<option value="69">Gutierrez Zamora</option>
	<option value="70">Hidalgotitlan</option>
	<option value="71">Huatusco</option>
	<option value="72">Huayacocotla</option>
	<option value="73">Hueyapan de Ocampo</option>
	<option value="74">Huiloapan de Cuauhtemoc</option>
	<option value="75">Ignacio de la Llave</option>
	<option value="76">Ilamatlan</option>
	<option value="77">Isla</option>
	<option value="78">Ixcatepec</option>
	<option value="79">Ixhuacan de los Reyes</option>
	<option value="80">Ixhuatlan del Cafe</option>
	<option value="81">Ixhuatlancillo</option>
	<option value="82">Ixhuatlan del Sureste</option>
	<option value="83">Ixhuatlan de Madero</option>
	<option value="84">Ixmatlahuacan</option>
	<option value="85">Ixtaczoquitlan</option>
	<option value="86">Jalacingo</option>
	<option value="87">Xalapa</option>
	<option value="88">Jalcomulco</option>
	<option value="89">Jaltipan</option>
	<option value="90">Jamapa</option>
	<option value="91">Jesus Carranza</option>
	<option value="92">Xico</option>
	<option value="93">Jilotepec</option>
	<option value="94">Juan Rodriguez Clara</option>
	<option value="95">Juchique de Ferrer</option>
	<option value="96">Landero y Coss</option>
	<option value="97">Lerdo de Tejada</option>
	<option value="98">Magdalena</option>
	<option value="99">Maltrata</option>
	<option value="100">Manlio Fabio Altamirano</option>
	<option value="101">Mariano Escobedo</option>
	<option value="102">Martinez de la Torre</option>
	<option value="103">Mecatlan</option>
	<option value="104">Mecayapan</option>
	<option value="105">Medellin</option>
	<option value="106">Miahuatlan</option>
	<option value="107">Las Minas</option>
	<option value="108">Minatitlan</option>
	<option value="109">Misantla</option>
	<option value="110">Mixtla de Altamirano</option>
	<option value="111">Moloacan</option>
	<option value="112">Naolinco</option>
	<option value="113">Naranjal</option>
	<option value="114">Nautla</option>
	<option value="115">Nogales</option>
	<option value="116">Oluta</option>
	<option value="117">Omealca</option>
	<option value="118">Orizaba</option>
	<option value="119">Otatitlan</option>
	<option value="120">Oteapan</option>
	<option value="121">Ozuluama de Mascare</option>
	<option value="122">Pajapan</option>
	<option value="123">Panuco</option>
	<option value="124">Papantla</option>
	<option value="125">Paso del Macho</option>
	<option value="126">Paso de Ovejas</option>
	<option value="127">La Perla</option>
	<option value="128">Perote</option>
	<option value="129">Platon Sanchez</option>
	<option value="130">Playa Vicente</option>
	<option value="131">Poza Rica de Hidalgo</option>
	<option value="132">Las Vigas de Ramirez</option>
	<option value="133">Pueblo Viejo</option>
	<option value="134">Puente Nacional</option>
	<option value="135">Rafael Delgado</option>
	<option value="136">Rafael Lucio</option>
	<option value="137">Los Reyes</option>
	<option value="138">Rio Blanco</option>
	<option value="139">Saltabarranca</option>
	<option value="140">San Andres Tenejapan</option>
	<option value="141">San Andres Tuxtla</option>
	<option value="142">San Juan Evangelista</option>
	<option value="143">Santiago Tuxtla</option>
	<option value="144">Sayula de Aleman</option>
	<option value="145">Soconusco</option>
	<option value="146">Sochiapa</option>
	<option value="147">Soledad Atzompa</option>
	<option value="148">Soledad de Doblado</option>
	<option value="149">Soteapan</option>
	<option value="150">Tamalin</option>
	<option value="151">Tamiahua</option>
	<option value="152">Tampico Alto</option>
	<option value="153">Tancoco</option>
	<option value="154">Tantima</option>
	<option value="155">Tantoyuca</option>
	<option value="156">Tatatila</option>
	<option value="157">Castillo de Teayo</option>
	<option value="158">Tecolutla</option>
	<option value="159">Tehuipango</option>
	<option value="160">Alamo Temapache</option>
	<option value="161">Tempoal</option>
	<option value="162">Tenampa</option>
	<option value="163">Tenochtitlan</option>
	<option value="164">Teocelo</option>
	<option value="165">Tepatlaxco</option>
	<option value="166">Tepetlan</option>
	<option value="167">Tepetzintla</option>
	<option value="168">Tequila</option>
	<option value="169">Jose Azueta</option>
	<option value="170">Texcatepec</option>
	<option value="171">Texhuacan</option>
	<option value="172">Texistepec</option>
	<option value="173">Tezonapa</option>
	<option value="174">Tierra Blanca</option>
	<option value="175">Tihuatlan</option>
	<option value="176">Tlacojalpan</option>
	<option value="177">Tlacolulan</option>
	<option value="178">Tlacotalpan</option>
	<option value="179">Tlacotepec de Mejia</option>
	<option value="180">Tlachichilco</option>
	<option value="181">Tlalixcoyan</option>
	<option value="182">Tlalnelhuayocan</option>
	<option value="183">Tlapacoyan</option>
	<option value="184">Tlaquilpa</option>
	<option value="185">Tlilapan</option>
	<option value="186">Tomatlan</option>
	<option value="187">Tonayan</option>
	<option value="188">Totutla</option>
	<option value="189">Tuxpan</option>
	<option value="190">Tuxtilla</option>
	<option value="191">Ursulo Galvan</option>
	<option value="192">Vega de Alatorre</option>
	<option value="193">Veracruz</option>
	<option value="194">Villa Aldama</option>
	<option value="195">Xoxocotla</option>
	<option value="196">Yanga</option>
	<option value="197">Yecuatla</option>
	<option value="198">Zacualpan</option>
	<option value="199">Zaragoza</option>
	<option value="200">Zentla</option>
	<option value="201">Zongolica</option>
	<option value="202">Zontecomatlan de Lopez y Fuentes</option>
	<option value="203">Zozocolco de Hidalgo</option>
	<option value="204">Agua Dulce</option>
	<option value="205">El Higo</option>
	<option value="206">Nanchital de Lazaro Cardenas del Rio</option>
	<option value="207">Tres Valles</option>
	<option value="208">Carlos A. Carrillo</option>
	<option value="209">Tatahuicapan de Juarez</option>
	<option value="210">Uxpanapa</option>
	<option value="211">San Rafael</option>
	<option value="212">Santiago Sochiapan</option>
</select>