<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Acajete</option>
	<option value="2">Acateno</option>
	<option value="3">Acatlan</option>
	<option value="4">Acatzingo</option>
	<option value="5">Acteopan</option>
	<option value="6">Ahuacatlan</option>
	<option value="7">Ahuatlan</option>
	<option value="8">Ahuazotepec</option>
	<option value="9">Ahuehuetitla</option>
	<option value="10">Ajalpan</option>
	<option value="11">Albino Zertuche</option>
	<option value="12">Aljojuca</option>
	<option value="13">Altepexi</option>
	<option value="14">Amixtlan</option>
	<option value="15">Amozoc</option>
	<option value="16">Aquixtla</option>
	<option value="17">Atempan</option>
	<option value="18">Atexcal</option>
	<option value="19">Atlixco</option>
	<option value="20">Atoyatempan</option>
	<option value="21">Atzala</option>
	<option value="22">Atzitzihuacan</option>
	<option value="23">Atzitzintla</option>
	<option value="24">Axutla</option>
	<option value="25">Ayotoxco de Guerrero</option>
	<option value="26">Calpan</option>
	<option value="27">Caltepec</option>
	<option value="28">Camocuautla</option>
	<option value="29">Caxhuacan</option>
	<option value="30">Coatepec</option>
	<option value="31">Coatzingo</option>
	<option value="32">Cohetzala</option>
	<option value="33">Cohuecan</option>
	<option value="34">Coronango</option>
	<option value="35">Coxcatlan</option>
	<option value="36">Coyomeapan</option>
	<option value="37">Coyotepec</option>
	<option value="38">Cuapiaxtla de Madero</option>
	<option value="39">Cuautempan</option>
	<option value="40">Cuautinchan</option>
	<option value="41">Cuautlancingo</option>
	<option value="42">Cuayuca de Andrade</option>
	<option value="43">Cuetzalan del Progreso</option>
	<option value="44">Cuyoaco</option>
	<option value="45">Chalchicomula de Sesma</option>
	<option value="46">Chapulco</option>
	<option value="47">Chiautla</option>
	<option value="48">Chiautzingo</option>
	<option value="49">Chiconcuautla</option>
	<option value="50">Chichiquila</option>
	<option value="51">Chietla</option>
	<option value="52">Chigmecatitlan</option>
	<option value="53">Chignahuapan</option>
	<option value="54">Chignautla</option>
	<option value="55">Chila</option>
	<option value="56">Chila de la Sal</option>
	<option value="57">Honey</option>
	<option value="58">Chilchotla</option>
	<option value="59">Chinantla</option>
	<option value="60">Domingo Arenas</option>
	<option value="61">Eloxochitlan</option>
	<option value="62">Epatlan</option>
	<option value="63">Esperanza</option>
	<option value="64">Francisco Z. Mena</option>
	<option value="65">General Felipe Angeles</option>
	<option value="66">Guadalupe</option>
	<option value="67">Guadalupe Victoria</option>
	<option value="68">Hermenegildo Galeana</option>
	<option value="69">Huaquechula</option>
	<option value="70">Huatlatlauca</option>
	<option value="71">Huauchinango</option>
	<option value="72">Huehuetla</option>
	<option value="73">Huehuetlan el Chico</option>
	<option value="74">Huejotzingo</option>
	<option value="75">Hueyapan</option>
	<option value="76">Hueytamalco</option>
	<option value="77">Hueytlalpan</option>
	<option value="78">Huitzilan de Serdan</option>
	<option value="79">Huitziltepec</option>
	<option value="80">Atlequizayan</option>
	<option value="81">Ixcamilpa de Guerrero</option>
	<option value="82">Ixcaquixtla</option>
	<option value="83">Ixtacamaxtitlan</option>
	<option value="84">Ixtepec</option>
	<option value="85">Izucar de Matamoros</option>
	<option value="86">Jalpan</option>
	<option value="87">Jolalpan</option>
	<option value="88">Jonotla</option>
	<option value="89">Jopala</option>
	<option value="90">Juan C. Bonilla</option>
	<option value="91">Juan Galindo</option>
	<option value="92">Juan N. Mendez</option>
	<option value="93">Lafragua</option>
	<option value="94">Libres</option>
	<option value="95">La Magdalena Tlatlauquitepec</option>
	<option value="96">Mazapiltepec de Juarez</option>
	<option value="97">Mixtla</option>
	<option value="98">Molcaxac</option>
	<option value="99">Ca</option>
	<option value="100">Naupan</option>
	<option value="101">Nauzontla</option>
	<option value="102">Nealtican</option>
	<option value="103">Nicolas Bravo</option>
	<option value="104">Nopalucan</option>
	<option value="105">Ocotepec</option>
	<option value="106">Ocoyucan</option>
	<option value="107">Olintla</option>
	<option value="108">Oriental</option>
	<option value="109">Pahuatlan</option>
	<option value="110">Palmar de Bravo</option>
	<option value="111">Pantepec</option>
	<option value="112">Petlalcingo</option>
	<option value="113">Piaxtla</option>
	<option value="114">Puebla</option>
	<option value="115">Quecholac</option>
	<option value="116">Quimixtlan</option>
	<option value="117">Rafael Lara Grajales</option>
	<option value="118">Los Reyes de Juarez</option>
	<option value="119">San Andres Cholula</option>
	<option value="120">San Antonio Ca</option>
	<option value="121">San Diego la Mesa Tochimiltzingo</option>
	<option value="122">San Felipe Teotlalcingo</option>
	<option value="123">San Felipe Tepatlan</option>
	<option value="124">San Gabriel Chilac</option>
	<option value="125">San Gregorio Atzompa</option>
	<option value="126">San Jeronimo Tecuanipan</option>
	<option value="127">San Jeronimo Xayacatlan</option>
	<option value="128">San Jose Chiapa</option>
	<option value="129">San Jose Miahuatlan</option>
	<option value="130">San Juan Atenco</option>
	<option value="131">San Juan Atzompa</option>
	<option value="132">San Martin Texmelucan</option>
	<option value="133">San Martin Totoltepec</option>
	<option value="134">San Matias Tlalancaleca</option>
	<option value="135">San Miguel Ixitlan</option>
	<option value="136">San Miguel Xoxtla</option>
	<option value="137">San Nicolas Buenos Aires</option>
	<option value="138">San Nicolas de los Ranchos</option>
	<option value="139">San Pablo Anicano</option>
	<option value="140">San Pedro Cholula</option>
	<option value="141">San Pedro Yeloixtlahuaca</option>
	<option value="142">San Salvador el Seco</option>
	<option value="143">San Salvador el Verde</option>
	<option value="144">San Salvador Huixcolotla</option>
	<option value="145">San Sebastian Tlacotepec</option>
	<option value="146">Santa Catarina Tlaltempan</option>
	<option value="147">Santa Ines Ahuatempan</option>
	<option value="148">Santa Isabel Cholula</option>
	<option value="149">Santiago Miahuatlan</option>
	<option value="150">Huehuetlan el Grande</option>
	<option value="151">Santo Tomas Hueyotlipan</option>
	<option value="152">Soltepec</option>
	<option value="153">Tecali de Herrera</option>
	<option value="154">Tecamachalco</option>
	<option value="155">Tecomatlan</option>
	<option value="156">Tehuacan</option>
	<option value="157">Tehuitzingo</option>
	<option value="158">Tenampulco</option>
	<option value="159">Teopantlan</option>
	<option value="160">Teotlalco</option>
	<option value="161">Tepanco de Lopez</option>
	<option value="162">Tepango de Rodriguez</option>
	<option value="163">Tepatlaxco de Hidalgo</option>
	<option value="164">Tepeaca</option>
	<option value="165">Tepemaxalco</option>
	<option value="166">Tepeojuma</option>
	<option value="167">Tepetzintla</option>
	<option value="168">Tepexco</option>
	<option value="169">Tepexi de Rodriguez</option>
	<option value="170">Tepeyahualco</option>
	<option value="171">Tepeyahualco de Cuauhtemoc</option>
	<option value="172">Tetela de Ocampo</option>
	<option value="173">Teteles de Avila Castillo</option>
	<option value="174">Teziutlan</option>
	<option value="175">Tianguismanalco</option>
	<option value="176">Tilapa</option>
	<option value="177">Tlacotepec de Benito Juarez</option>
	<option value="178">Tlacuilotepec</option>
	<option value="179">Tlachichuca</option>
	<option value="180">Tlahuapan</option>
	<option value="181">Tlaltenango</option>
	<option value="182">Tlanepantla</option>
	<option value="183">Tlaola</option>
	<option value="184">Tlapacoya</option>
	<option value="185">Tlapanala</option>
	<option value="186">Tlatlauquitepec</option>
	<option value="187">Tlaxco</option>
	<option value="188">Tochimilco</option>
	<option value="189">Tochtepec</option>
	<option value="190">Totoltepec de Guerrero</option>
	<option value="191">Tulcingo</option>
	<option value="192">Tuzamapan de Galeana</option>
	<option value="193">Tzicatlacoyan</option>
	<option value="194">Venustiano Carranza</option>
	<option value="195">Vicente Guerrero</option>
	<option value="196">Xayacatlan de Bravo</option>
	<option value="197">Xicotepec</option>
	<option value="198">Xicotlan</option>
	<option value="199">Xiutetelco</option>
	<option value="200">Xochiapulco</option>
	<option value="201">Xochiltepec</option>
	<option value="202">Xochitlan de Vicente Suarez</option>
	<option value="203">Xochitlan Todos Santos</option>
	<option value="204">Yaonahuac</option>
	<option value="205">Yehualtepec</option>
	<option value="206">Zacapala</option>
	<option value="207">Zacapoaxtla</option>
	<option value="208">Zacatlan</option>
	<option value="209">Zapotitlan</option>
	<option value="210">Zapotitlan de Mendez</option>
	<option value="211">Zaragoza</option>
	<option value="212">Zautla</option>
	<option value="213">Zihuateutla</option>
	<option value="214">Zinacatepec</option>
	<option value="215">Zongozotla</option>
	<option value="216">Zoquiapan</option>
	<option value="217">Zoquitlan</option>
</select>