<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Acatic</option>
	<option value="2">Acatlan de Juarez</option>
	<option value="3">Ahualulco de Mercado</option>
	<option value="4">Amacueca</option>
	<option value="5">Amatitan</option>
	<option value="6">Ameca</option>
	<option value="7">San Juanito de Escobedo</option>
	<option value="8">Arandas</option>
	<option value="9">El Arenal</option>
	<option value="10">Atemajac de Brizuela</option>
	<option value="11">Atengo</option>
	<option value="12">Atenguillo</option>
	<option value="13">Atotonilco el Alto</option>
	<option value="14">Atoyac</option>
	<option value="15">Autlan de Navarro</option>
	<option value="16">Ayotlan</option>
	<option value="17">Ayutla</option>
	<option value="18">La Barca</option>
	<option value="19">Bola</option>
	<option value="20">Cabo Corrientes</option>
	<option value="21">Casimiro Castillo</option>
	<option value="22">Cihuatlan</option>
	<option value="23">Zapotlan el Grande</option>
	<option value="24">Cocula</option>
	<option value="25">Colotlan</option>
	<option value="26">Concepcion de Buenos Aires</option>
	<option value="27">Cuautitlan de Garcia Barragan</option>
	<option value="28">Cuautla</option>
	<option value="29">Cuquio</option>
	<option value="30">Chapala</option>
	<option value="31">Chimaltitan</option>
	<option value="32">Chiquilistlan</option>
	<option value="33">Degollado</option>
	<option value="34">Ejutla</option>
	<option value="35">Encarnacion de Diaz</option>
	<option value="36">Etzatlan</option>
	<option value="37">El Grullo</option>
	<option value="38">Guachinango</option>
	<option value="39">Guadalajara</option>
	<option value="40">Hostotipaquillo</option>
	<option value="41">Huejucar</option>
	<option value="42">Huejuquilla el Alto</option>
	<option value="43">La Huerta</option>
	<option value="44">Ixtlahuacan de los Membrillos</option>
	<option value="45">Ixtlahuacan del Rio</option>
	<option value="46">Jalostotitlan</option>
	<option value="47">Jamay</option>
	<option value="48">Jesus Maria</option>
	<option value="49">Jilotlan de los Dolores</option>
	<option value="50">Jocotepec</option>
	<option value="51">Juanacatlan</option>
	<option value="52">Juchitlan</option>
	<option value="53">Lagos de Moreno</option>
	<option value="54">El Limon</option>
	<option value="55">Magdalena</option>
	<option value="56">Santa Maria del Oro</option>
	<option value="57">La Manzanilla de la Paz</option>
	<option value="58">Mascota</option>
	<option value="59">Mazamitla</option>
	<option value="60">Mexticacan</option>
	<option value="61">Mezquitic</option>
	<option value="62">Mixtlan</option>
	<option value="63">Ocotlan</option>
	<option value="64">Ojuelos de Jalisco</option>
	<option value="65">Pihuamo</option>
	<option value="66">Poncitlan</option>
	<option value="67">Puerto Vallarta</option>
	<option value="68">Villa Purificacion</option>
	<option value="69">Quitupan</option>
	<option value="70">El Salto</option>
	<option value="71">San Cristobal de la Barranca</option>
	<option value="72">San Diego de Alejandria</option>
	<option value="73">San Juan de los Lagos</option>
	<option value="74">San Julian</option>
	<option value="75">San Marcos</option>
	<option value="76">San Martin de Bola</option>
	<option value="77">San Martin Hidalgo</option>
	<option value="78">San Miguel el Alto</option>
	<option value="79">Gomez Farias</option>
	<option value="80">San Sebastian del Oeste</option>
	<option value="81">Santa Maria de los Angeles</option>
	<option value="82">Sayula</option>
	<option value="83">Tala</option>
	<option value="84">Talpa de Allende</option>
	<option value="85">Tamazula de Gordiano</option>
	<option value="86">Tapalpa</option>
	<option value="87">Tecalitlan</option>
	<option value="88">Tecolotlan</option>
	<option value="89">Techaluta de Montenegro</option>
	<option value="90">Tenamaxtlan</option>
	<option value="91">Teocaltiche</option>
	<option value="92">Teocuitatlan de Corona</option>
	<option value="93">Tepatitlan de Morelos</option>
	<option value="94">Tequila</option>
	<option value="95">Teuchitlan</option>
	<option value="96">Tizapan el Alto</option>
	<option value="97">Tlajomulco de Zu</option>
	<option value="98">San Pedro Tlaquepaque</option>
	<option value="99">Toliman</option>
	<option value="100">Tomatlan</option>
	<option value="101">Tonala</option>
	<option value="102">Tonaya</option>
	<option value="103">Tonila</option>
	<option value="104">Totatiche</option>
	<option value="105">Tototlan</option>
	<option value="106">Tuxcacuesco</option>
	<option value="107">Tuxcueca</option>
	<option value="108">Tuxpan</option>
	<option value="109">Union de San Antonio</option>
	<option value="110">Union de Tula</option>
	<option value="111">Valle de Guadalupe</option>
	<option value="112">Valle de Juarez</option>
	<option value="113">San Gabriel</option>
	<option value="114">Villa Corona</option>
	<option value="115">Villa Guerrero</option>
	<option value="116">Villa Hidalgo</option>
	<option value="117">Ca</option>
	<option value="118">Yahualica de Gonzalez Gallo</option>
	<option value="119">Zacoalco de Torres</option>
	<option value="120">Zapopan</option>
	<option value="121">Zapotiltic</option>
	<option value="122">Zapotitlan de Vadillo</option>
	<option value="123">Zapotlan del Rey</option>
	<option value="124">Zapotlanejo</option>
	<option value="125">San Ignacio Cerro Gordo</option>
</select>