<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Aguascalientes</option>
	<option value="2">Asientos</option>
	<option value="3">Calvillo</option>
	<option value="4">Cosio</option>
	<option value="5">Jesus Maria</option>
	<option value="6">Pabellon de Arteaga</option>
	<option value="7">Rincon de Romos</option>
	<option value="8">San Jose de Gracia</option>
	<option value="9">Tepezala</option>
	<option value="10">El Llano</option>
	<option value="11">San Francisco de los Romo</option>
</select>