<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Acacoyagua</option>
	<option value="2">Acala</option>
	<option value="3">Acapetahua</option>
	<option value="4">Altamirano</option>
	<option value="5">Amatan</option>
	<option value="6">Amatenango de la Frontera</option>
	<option value="7">Amatenango del Valle</option>
	<option value="8">Angel Albino Corzo</option>
	<option value="9">Arriaga</option>
	<option value="10">Bejucal de Ocampo</option>
	<option value="11">Bella Vista</option>
	<option value="12">Berriozabal</option>
	<option value="13">Bochil</option>
	<option value="14">El Bosque</option>
	<option value="15">Cacahoatan</option>
	<option value="16">Catazaja</option>
	<option value="17">Cintalapa</option>
	<option value="18">Coapilla</option>
	<option value="19">Comitan de Dominguez</option>
	<option value="20">La Concordia</option>
	<option value="21">Copainala</option>
	<option value="22">Chalchihuitan</option>
	<option value="23">Chamula</option>
	<option value="24">Chanal</option>
	<option value="25">Chapultenango</option>
	<option value="26">Chenalho</option>
	<option value="27">Chiapa de Corzo</option>
	<option value="28">Chiapilla</option>
	<option value="29">Chicoasen</option>
	<option value="30">Chicomuselo</option>
	<option value="31">Chilon</option>
	<option value="32">Escuintla</option>
	<option value="33">Francisco Leon</option>
	<option value="34">Frontera Comalapa</option>
	<option value="35">Frontera Hidalgo</option>
	<option value="36">La Grandeza</option>
	<option value="37">Huehuetan</option>
	<option value="38">Huixtan</option>
	<option value="39">Huitiupan</option>
	<option value="40">Huixtla</option>
	<option value="41">La Independencia</option>
	<option value="42">Ixhuatan</option>
	<option value="43">Ixtacomitan</option>
	<option value="44">Ixtapa</option>
	<option value="45">Ixtapangajoya</option>
	<option value="46">Jiquipilas</option>
	<option value="47">Jitotol</option>
	<option value="48">Juarez</option>
	<option value="49">Larrainzar</option>
	<option value="50">La Libertad</option>
	<option value="51">Mapastepec</option>
	<option value="52">Las Margaritas</option>
	<option value="53">Mazapa de Madero</option>
	<option value="54">Mazatan</option>
	<option value="55">Metapa</option>
	<option value="56">Mitontic</option>
	<option value="57">Motozintla</option>
	<option value="58">Nicolas Ruiz</option>
	<option value="59">Ocosingo</option>
	<option value="60">Ocotepec</option>
	<option value="61">Ocozocoautla de Espinosa</option>
	<option value="62">Ostuacan</option>
	<option value="63">Osumacinta</option>
	<option value="64">Oxchuc</option>
	<option value="65">Palenque</option>
	<option value="66">Pantelho</option>
	<option value="67">Pantepec</option>
	<option value="68">Pichucalco</option>
	<option value="69">Pijijiapan</option>
	<option value="70">El Porvenir</option>
	<option value="71">Villa Comaltitlan</option>
	<option value="72">Pueblo Nuevo Solistahuacan</option>
	<option value="73">Rayon</option>
	<option value="74">Reforma</option>
	<option value="75">Las Rosas</option>
	<option value="76">Sabanilla</option>
	<option value="77">Salto de Agua</option>
	<option value="78">San Cristobal de las Casas</option>
	<option value="79">San Fernando</option>
	<option value="80">Siltepec</option>
	<option value="81">Simojovel</option>
	<option value="82">Sitala</option>
	<option value="83">Socoltenango</option>
	<option value="84">Solosuchiapa</option>
	<option value="85">Soyalo</option>
	<option value="86">Suchiapa</option>
	<option value="87">Suchiate</option>
	<option value="88">Sunuapa</option>
	<option value="89">Tapachula</option>
	<option value="90">Tapalapa</option>
	<option value="91">Tapilula</option>
	<option value="92">Tecpatan</option>
	<option value="93">Tenejapa</option>
	<option value="94">Teopisca</option>
	<option value="96">Tila</option>
	<option value="97">Tonala</option>
	<option value="98">Totolapa</option>
	<option value="99">La Trinitaria</option>
	<option value="100">Tumbala</option>
	<option value="101">Tuxtla Gutierrez</option>
	<option value="102">Tuxtla Chico</option>
	<option value="103">Tuzantan</option>
	<option value="104">Tzimol</option>
	<option value="105">Union Juarez</option>
	<option value="106">Venustiano Carranza</option>
	<option value="107">Villa Corzo</option>
	<option value="108">Villaflores</option>
	<option value="109">Yajalon</option>
	<option value="110">San Lucas</option>
	<option value="111">Zinacantan</option>
	<option value="112">San Juan Cancuc</option>
	<option value="113">Aldama</option>
	<option value="114">Benemerito de las Americas</option>
	<option value="115">Maravilla Tenejapa</option>
	<option value="116">Marques de Comillas</option>
	<option value="117">Montecristo de Guerrero</option>
	<option value="118">San Andres Duraznal</option>
	<option value="119">Santiago el Pinar</option>
</select>