<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Calkini</option>
	<option value="2">Campeche</option>
	<option value="3">Carmen</option>
	<option value="4">Champoton</option>
	<option value="5">Hecelchakan</option>
	<option value="6">Hopelchen</option>
	<option value="7">Palizada</option>
	<option value="8">Tenabo</option>
	<option value="9">Escarcega</option>
	<option value="10">Calakmul</option>
	<option value="11">Candelaria</option>
</select>