<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Comondu</option>
	<option value="2">Mulege</option>
	<option value="3">La Paz</option>
	<option value="8">Los Cabos</option>
	<option value="9">Loreto</option>
</select>