<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Amacuzac</option>
	<option value="2">Atlatlahucan</option>
	<option value="3">Axochiapan</option>
	<option value="4">Ayala</option>
	<option value="5">Coatlan del Rio</option>
	<option value="6">Cuautla</option>
	<option value="7">Cuernavaca</option>
	<option value="8">Emiliano Zapata</option>
	<option value="9">Huitzilac</option>
	<option value="10">Jantetelco</option>
	<option value="11">Jiutepec</option>
	<option value="12">Jojutla</option>
	<option value="13">Jonacatepec</option>
	<option value="14">Mazatepec</option>
	<option value="15">Miacatlan</option>
	<option value="16">Ocuituco</option>
	<option value="17">Puente de Ixtla</option>
	<option value="18">Temixco</option>
	<option value="19">Tepalcingo</option>
	<option value="20">Tepoztlan</option>
	<option value="21">Tetecala</option>
	<option value="22">Tetela del Volcan</option>
	<option value="23">Tlalnepantla</option>
	<option value="24">Tlaltizapan de Zapata</option>
	<option value="25">Tlaquiltenango</option>
	<option value="26">Tlayacapan</option>
	<option value="27">Totolapan</option>
	<option value="28">Xochitepec</option>
	<option value="29">Yautepec</option>
	<option value="30">Yecapixtla</option>
	<option value="31">Zacatepec</option>
	<option value="32">Zacualpan</option>
	<option value="33">Temoac</option>
</select>