<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Aconchi</option>
	<option value="2">Agua Prieta</option>
	<option value="3">Alamos</option>
	<option value="4">Altar</option>
	<option value="5">Arivechi</option>
	<option value="6">Arizpe</option>
	<option value="7">Atil</option>
	<option value="8">Bacadehuachi</option>
	<option value="9">Bacanora</option>
	<option value="10">Bacerac</option>
	<option value="11">Bacoachi</option>
	<option value="12">Bacum</option>
	<option value="13">Banamichi</option>
	<option value="14">Baviacora</option>
	<option value="15">Bavispe</option>
	<option value="16">Benjamin Hill</option>
	<option value="17">Caborca</option>
	<option value="18">Cajeme</option>
	<option value="19">Cananea</option>
	<option value="20">Carbo</option>
	<option value="21">La Colorada</option>
	<option value="22">Cucurpe</option>
	<option value="23">Cumpas</option>
	<option value="24">Divisaderos</option>
	<option value="25">Empalme</option>
	<option value="26">Etchojoa</option>
	<option value="27">Fronteras</option>
	<option value="28">Granados</option>
	<option value="29">Guaymas</option>
	<option value="30">Hermosillo</option>
	<option value="31">Huachinera</option>
	<option value="32">Huasabas</option>
	<option value="33">Huatabampo</option>
	<option value="34">Huepac</option>
	<option value="35">Imuris</option>
	<option value="36">Magdalena</option>
	<option value="37">Mazatan</option>
	<option value="38">Moctezuma</option>
	<option value="39">Naco</option>
	<option value="40">Nacori Chico</option>
	<option value="41">Nacozari de Garcia</option>
	<option value="42">Navojoa</option>
	<option value="43">Nogales</option>
	<option value="44">Onavas</option>
	<option value="45">Opodepe</option>
	<option value="46">Oquitoa</option>
	<option value="47">Pitiquito</option>
	<option value="48">Puerto Pe</option>
	<option value="49">Quiriego</option>
	<option value="50">Rayon</option>
	<option value="51">Rosario</option>
	<option value="52">Sahuaripa</option>
	<option value="53">San Felipe de Jesus</option>
	<option value="54">San Javier</option>
	<option value="55">San Luis Rio Colorado</option>
	<option value="56">San Miguel de Horcasitas</option>
	<option value="57">San Pedro de la Cueva</option>
	<option value="58">Santa Ana</option>
	<option value="59">Santa Cruz</option>
	<option value="60">Saric</option>
	<option value="61">Soyopa</option>
	<option value="62">Suaqui Grande</option>
	<option value="63">Tepache</option>
	<option value="64">Trincheras</option>
	<option value="65">Tubutama</option>
	<option value="66">Ures</option>
	<option value="67">Villa Hidalgo</option>
	<option value="68">Villa Pesqueira</option>
	<option value="69">Yecora</option>
	<option value="70">General Plutarco Elias Calles</option>
	<option value="71">Benito Juarez</option>
	<option value="72">San Ignacio Rio Muerto</option>
</select>