<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Acuitzio</option>
	<option value="2">Aguililla</option>
	<option value="3">Alvaro Obregon</option>
	<option value="4">Angamacutiro</option>
	<option value="5">Angangueo</option>
	<option value="6">Apatzingan</option>
	<option value="7">Aporo</option>
	<option value="8">Aquila</option>
	<option value="9">Ario</option>
	<option value="10">Arteaga</option>
	<option value="11">Brise</option>
	<option value="12">Buenavista</option>
	<option value="13">Caracuaro</option>
	<option value="14">Coahuayana</option>
	<option value="15">Coalcoman de Vazquez Pallares</option>
	<option value="16">Coeneo</option>
	<option value="17">Contepec</option>
	<option value="18">Copandaro</option>
	<option value="19">Cotija</option>
	<option value="20">Cuitzeo</option>
	<option value="21">Charapan</option>
	<option value="22">Charo</option>
	<option value="23">Chavinda</option>
	<option value="24">Cheran</option>
	<option value="25">Chilchota</option>
	<option value="26">Chinicuila</option>
	<option value="27">Chucandiro</option>
	<option value="28">Churintzio</option>
	<option value="29">Churumuco</option>
	<option value="30">Ecuandureo</option>
	<option value="31">Epitacio Huerta</option>
	<option value="32">Erongaricuaro</option>
	<option value="33">Gabriel Zamora</option>
	<option value="34">Hidalgo</option>
	<option value="35">La Huacana</option>
	<option value="36">Huandacareo</option>
	<option value="37">Huaniqueo</option>
	<option value="38">Huetamo</option>
	<option value="39">Huiramba</option>
	<option value="40">Indaparapeo</option>
	<option value="41">Irimbo</option>
	<option value="42">Ixtlan</option>
	<option value="43">Jacona</option>
	<option value="44">Jimenez</option>
	<option value="45">Jiquilpan</option>
	<option value="46">Juarez</option>
	<option value="47">Jungapeo</option>
	<option value="48">Lagunillas</option>
	<option value="49">Madero</option>
	<option value="50">Maravatio</option>
	<option value="51">Marcos Castellanos</option>
	<option value="52">Lazaro Cardenas</option>
	<option value="53">Morelia</option>
	<option value="54">Morelos</option>
	<option value="55">Mugica</option>
	<option value="56">Nahuatzen</option>
	<option value="57">Nocupetaro</option>
	<option value="58">Nuevo Parangaricutiro</option>
	<option value="59">Nuevo Urecho</option>
	<option value="60">Numaran</option>
	<option value="61">Ocampo</option>
	<option value="62">Pajacuaran</option>
	<option value="63">Panindicuaro</option>
	<option value="64">Paracuaro</option>
	<option value="65">Paracho</option>
	<option value="66">Patzcuaro</option>
	<option value="67">Penjamillo</option>
	<option value="68">Periban</option>
	<option value="69">La Piedad</option>
	<option value="70">Purepero</option>
	<option value="71">Puruandiro</option>
	<option value="72">Querendaro</option>
	<option value="73">Quiroga</option>
	<option value="74">Cojumatlan de Regules</option>
	<option value="75">Los Reyes</option>
	<option value="76">Sahuayo</option>
	<option value="77">San Lucas</option>
	<option value="78">Santa Ana Maya</option>
	<option value="79">Salvador Escalante</option>
	<option value="80">Senguio</option>
	<option value="81">Susupuato</option>
	<option value="82">Tacambaro</option>
	<option value="83">Tancitaro</option>
	<option value="84">Tangamandapio</option>
	<option value="85">Tangancicuaro</option>
	<option value="86">Tanhuato</option>
	<option value="87">Taretan</option>
	<option value="88">Tarimbaro</option>
	<option value="89">Tepalcatepec</option>
	<option value="90">Tingambato</option>
	<option value="91">Ting</option>
	<option value="92">Tiquicheo de Nicolas Romero</option>
	<option value="93">Tlalpujahua</option>
	<option value="94">Tlazazalca</option>
	<option value="95">Tocumbo</option>
	<option value="96">Tumbiscatio</option>
	<option value="97">Turicato</option>
	<option value="98">Tuxpan</option>
	<option value="99">Tuzantla</option>
	<option value="100">Tzintzuntzan</option>
	<option value="101">Tzitzio</option>
	<option value="102">Uruapan</option>
	<option value="103">Venustiano Carranza</option>
	<option value="104">Villamar</option>
	<option value="105">Vista Hermosa</option>
	<option value="106">Yurecuaro</option>
	<option value="107">Zacapu</option>
	<option value="108">Zamora</option>
	<option value="109">Zinaparo</option>
	<option value="110">Zinapecuaro</option>
	<option value="111">Ziracuaretiro</option>
	<option value="112">Zitacuaro</option>
	<option value="113">Jose Sixto Verduzco</option>
</select>