<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Acapulco de Juarez</option>
	<option value="2">Ahuacuotzingo</option>
	<option value="3">Ajuchitlan del Progreso</option>
	<option value="4">Alcozauca de Guerrero</option>
	<option value="5">Alpoyeca</option>
	<option value="6">Apaxtla</option>
	<option value="7">Arcelia</option>
	<option value="8">Atenango del Rio</option>
	<option value="9">Atlamajalcingo del Monte</option>
	<option value="10">Atlixtac</option>
	<option value="11">Atoyac de Alvarez</option>
	<option value="12">Ayutla de los Libres</option>
	<option value="13">Azoyu</option>
	<option value="14">Benito Juarez</option>
	<option value="15">Buenavista de Cuellar</option>
	<option value="16">Coahuayutla de Jose Maria Izazaga</option>
	<option value="17">Cocula</option>
	<option value="18">Copala</option>
	<option value="19">Copalillo</option>
	<option value="20">Copanatoyac</option>
	<option value="21">Coyuca de Benitez</option>
	<option value="22">Coyuca de Catalan</option>
	<option value="23">Cuajinicuilapa</option>
	<option value="24">Cualac</option>
	<option value="25">Cuautepec</option>
	<option value="26">Cuetzala del Progreso</option>
	<option value="27">Cutzamala de Pinzon</option>
	<option value="28">Chilapa de Alvarez</option>
	<option value="29">Chilpancingo de los Bravo</option>
	<option value="30">Florencio Villarreal</option>
	<option value="31">General Canuto A. Neri</option>
	<option value="32">General Heliodoro Castillo</option>
	<option value="33">Huamuxtitlan</option>
	<option value="34">Huitzuco de los Figueroa</option>
	<option value="35">Iguala de la Independencia</option>
	<option value="36">Igualapa</option>
	<option value="37">Ixcateopan de Cuauhtemoc</option>
	<option value="38">Zihuatanejo de Azueta</option>
	<option value="39">Juan R. Escudero</option>
	<option value="40">Leonardo Bravo</option>
	<option value="41">Malinaltepec</option>
	<option value="42">Martir de Cuilapan</option>
	<option value="43">Metlatonoc</option>
	<option value="44">Mochitlan</option>
	<option value="45">Olinala</option>
	<option value="46">Ometepec</option>
	<option value="47">Pedro Ascencio Alquisiras</option>
	<option value="48">Petatlan</option>
	<option value="49">Pilcaya</option>
	<option value="50">Pungarabato</option>
	<option value="51">Quechultenango</option>
	<option value="52">San Luis Acatlan</option>
	<option value="53">San Marcos</option>
	<option value="54">San Miguel Totolapan</option>
	<option value="55">Taxco de Alarcon</option>
	<option value="56">Tecoanapa</option>
	<option value="57">Tecpan de Galeana</option>
	<option value="58">Teloloapan</option>
	<option value="59">Tepecoacuilco de Trujano</option>
	<option value="60">Tetipac</option>
	<option value="61">Tixtla de Guerrero</option>
	<option value="62">Tlacoachistlahuaca</option>
	<option value="63">Tlacoapa</option>
	<option value="64">Tlalchapa</option>
	<option value="65">Tlalixtaquilla de Maldonado</option>
	<option value="66">Tlapa de Comonfort</option>
	<option value="67">Tlapehuala</option>
	<option value="68">La Union de Isidoro Montes de Oca</option>
	<option value="69">Xalpatlahuac</option>
	<option value="70">Xochihuehuetlan</option>
	<option value="71">Xochistlahuaca</option>
	<option value="72">Zapotitlan Tablas</option>
	<option value="73">Zirandaro</option>
	<option value="74">Zitlala</option>
	<option value="75">Eduardo Neri</option>
	<option value="76">Acatepec</option>
	<option value="77">Marquelia</option>
	<option value="78">Cochoapa el Grande</option>
	<option value="79">Jose Joaquin de Herrera</option>
	<option value="80">Juchitan</option>
	<option value="81">Iliatenco</option>
</select>