<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Canatlan</option>
	<option value="2">Canelas</option>
	<option value="3">Coneto de Comonfort</option>
	<option value="4">Cuencame</option>
	<option value="5">Durango</option>
	<option value="6">General Simon Bolivar</option>
	<option value="7">Gomez Palacio</option>
	<option value="8">Guadalupe Victoria</option>
	<option value="9">Guanacevi</option>
	<option value="10">Hidalgo</option>
	<option value="11">Inde</option>
	<option value="12">Lerdo</option>
	<option value="13">Mapimi</option>
	<option value="14">Mezquital</option>
	<option value="15">Nazas</option>
	<option value="16">Nombre de Dios</option>
	<option value="17">Ocampo</option>
	<option value="18">El Oro</option>
	<option value="19">Otaez</option>
	<option value="20">Panuco de Coronado</option>
	<option value="21">Pe</option>
	<option value="22">Poanas</option>
	<option value="23">Pueblo Nuevo</option>
	<option value="24">Rodeo</option>
	<option value="25">San Bernardo</option>
	<option value="26">San Dimas</option>
	<option value="27">San Juan de Guadalupe</option>
	<option value="28">San Juan del Rio</option>
	<option value="29">San Luis del Cordero</option>
	<option value="30">San Pedro del Gallo</option>
	<option value="31">Santa Clara</option>
	<option value="32">Santiago Papasquiaro</option>
	<option value="33">Suchil</option>
	<option value="34">Tamazula</option>
	<option value="35">Tepehuanes</option>
	<option value="36">Tlahualilo</option>
	<option value="37">Topia</option>
	<option value="38">Vicente Guerrero</option>
	<option value="39">Nuevo Ideal</option>
</select>