<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Cozumel</option>
	<option value="2">Felipe Carrillo Puerto</option>
	<option value="3">Isla Mujeres</option>
	<option value="4">Othon P. Blanco</option>
	<option value="5">Benito Juarez</option>
	<option value="6">Jose Maria Morelos</option>
	<option value="7">Lazaro Cardenas</option>
	<option value="8">Solidaridad</option>
	<option value="9">Tulum</option>
	<option value="10">Bacalar</option>
</select>