<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Amaxac de Guerrero</option>
	<option value="2">Apetatitlan de Antonio Carvajal</option>
	<option value="3">Atlangatepec</option>
	<option value="4">Atltzayanca</option>
	<option value="5">Apizaco</option>
	<option value="6">Calpulalpan</option>
	<option value="7">El Carmen Tequexquitla</option>
	<option value="8">Cuapiaxtla</option>
	<option value="9">Cuaxomulco</option>
	<option value="10">Chiautempan</option>
	<option value="11">Mu</option>
	<option value="12">Espa</option>
	<option value="13">Huamantla</option>
	<option value="14">Hueyotlipan</option>
	<option value="15">Ixtacuixtla de Mariano Matamoros</option>
	<option value="16">Ixtenco</option>
	<option value="17">Mazatecochco de Jose Maria Morelos</option>
	<option value="18">Contla de Juan Cuamatzi</option>
	<option value="19">Tepetitla de Lardizabal</option>
	<option value="20">Sanctorum de Lazaro Cardenas</option>
	<option value="21">Nanacamilpa de Mariano Arista</option>
	<option value="22">Acuamanala de Miguel Hidalgo</option>
	<option value="23">Nativitas</option>
	<option value="24">Panotla</option>
	<option value="25">San Pablo del Monte</option>
	<option value="26">Santa Cruz Tlaxcala</option>
	<option value="27">Tenancingo</option>
	<option value="28">Teolocholco</option>
	<option value="29">Tepeyanco</option>
	<option value="30">Terrenate</option>
	<option value="31">Tetla de la Solidaridad</option>
	<option value="32">Tetlatlahuca</option>
	<option value="33">Tlaxcala</option>
	<option value="34">Tlaxco</option>
	<option value="35">Tocatlan</option>
	<option value="36">Totolac</option>
	<option value="37">Ziltlaltepec de Trinidad Sanchez Santos</option>
	<option value="38">Tzompantepec</option>
	<option value="39">Xaloztoc</option>
	<option value="40">Xaltocan</option>
	<option value="41">Papalotla de Xicohtencatl</option>
	<option value="42">Xicohtzinco</option>
	<option value="43">Yauhquemehcan</option>
	<option value="44">Zacatelco</option>
	<option value="45">Benito Juarez</option>
	<option value="46">Emiliano Zapata</option>
	<option value="47">Lazaro Cardenas</option>
	<option value="48">La Magdalena Tlaltelulco</option>
	<option value="49">San Damian Texoloc</option>
	<option value="50">San Francisco Tetlanohcan</option>
	<option value="51">San Jeronimo Zacualpan</option>
	<option value="52">San Jose Teacalco</option>
	<option value="53">San Juan Huactzinco</option>
	<option value="54">San Lorenzo Axocomanitla</option>
	<option value="55">San Lucas Tecopilco</option>
	<option value="56">Santa Ana Nopalucan</option>
	<option value="57">Santa Apolonia Teacalco</option>
	<option value="58">Santa Catarina Ayometla</option>
	<option value="59">Santa Cruz Quilehtla</option>
	<option value="60">Santa Isabel Xiloxoxtla</option>
</select>