<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Abasolo</option>
	<option value="2">Agualeguas</option>
	<option value="3">Los Aldamas</option>
	<option value="4">Allende</option>
	<option value="5">Anahuac</option>
	<option value="6">Apodaca</option>
	<option value="7">Aramberri</option>
	<option value="8">Bustamante</option>
	<option value="9">Cadereyta Jimenez</option>
	<option value="10">Carmen</option>
	<option value="11">Cerralvo</option>
	<option value="12">Cienega de Flores</option>
	<option value="13">China</option>
	<option value="14">Dr. Arroyo</option>
	<option value="15">Dr. Coss</option>
	<option value="16">Dr. Gonzalez</option>
	<option value="17">Galeana</option>
	<option value="18">Garcia</option>
	<option value="19">San Pedro Garza Garcia</option>
	<option value="20">Gral. Bravo</option>
	<option value="21">Gral. Escobedo</option>
	<option value="22">Gral. Teran</option>
	<option value="23">Gral. Trevi</option>
	<option value="24">Gral. Zaragoza</option>
	<option value="25">Gral. Zuazua</option>
	<option value="26">Guadalupe</option>
	<option value="27">Los Herreras</option>
	<option value="28">Higueras</option>
	<option value="29">Hualahuises</option>
	<option value="30">Iturbide</option>
	<option value="31">Juarez</option>
	<option value="32">Lampazos de Naranjo</option>
	<option value="33">Linares</option>
	<option value="34">Marin</option>
	<option value="35">Melchor Ocampo</option>
	<option value="36">Mier y Noriega</option>
	<option value="37">Mina</option>
	<option value="38">Montemorelos</option>
	<option value="39">Monterrey</option>
	<option value="40">Paras</option>
	<option value="41">Pesqueria</option>
	<option value="42">Los Ramones</option>
	<option value="43">Rayones</option>
	<option value="44">Sabinas Hidalgo</option>
	<option value="45">Salinas Victoria</option>
	<option value="46">San Nicolas de los Garza</option>
	<option value="47">Hidalgo</option>
	<option value="48">Santa Catarina</option>
	<option value="49">Santiago</option>
	<option value="50">Vallecillo</option>
	<option value="51">Villaldama</option>
</select>