<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Ahumada</option>
	<option value="2">Aldama</option>
	<option value="3">Allende</option>
	<option value="4">Aquiles Serdan</option>
	<option value="5">Ascension</option>
	<option value="6">Bachiniva</option>
	<option value="7">Balleza</option>
	<option value="8">Batopilas</option>
	<option value="9">Bocoyna</option>
	<option value="10">Buenaventura</option>
	<option value="11">Camargo</option>
	<option value="12">Carichi</option>
	<option value="13">Casas Grandes</option>
	<option value="14">Coronado</option>
	<option value="15">Coyame del Sotol</option>
	<option value="16">La Cruz</option>
	<option value="17">Cuauhtemoc</option>
	<option value="18">Cusihuiriachi</option>
	<option value="19">Chihuahua</option>
	<option value="20">Chinipas</option>
	<option value="21">Delicias</option>
	<option value="22">Dr. Belisario Dominguez</option>
	<option value="23">Galeana</option>
	<option value="24">Santa Isabel</option>
	<option value="25">Gomez Farias</option>
	<option value="26">Gran Morelos</option>
	<option value="27">Guachochi</option>
	<option value="28">Guadalupe</option>
	<option value="29">Guadalupe y Calvo</option>
	<option value="30">Guazapares</option>
	<option value="31">Guerrero</option>
	<option value="32">Hidalgo del Parral</option>
	<option value="33">Huejotitan</option>
	<option value="34">Ignacio Zaragoza</option>
	<option value="35">Janos</option>
	<option value="36">Jimenez</option>
	<option value="37">Juarez</option>
	<option value="38">Julimes</option>
	<option value="39">Lopez</option>
	<option value="40">Madera</option>
	<option value="41">Maguarichi</option>
	<option value="42">Manuel Benavides</option>
	<option value="43">Matachi</option>
	<option value="44">Matamoros</option>
	<option value="45">Meoqui</option>
	<option value="46">Morelos</option>
	<option value="47">Moris</option>
	<option value="48">Namiquipa</option>
	<option value="49">Nonoava</option>
	<option value="50">Nuevo Casas Grandes</option>
	<option value="51">Ocampo</option>
	<option value="52">Ojinaga</option>
	<option value="53">Praxedis G. Guerrero</option>
	<option value="54">Riva Palacio</option>
	<option value="55">Rosales</option>
	<option value="56">Rosario</option>
	<option value="57">San Francisco de Borja</option>
	<option value="58">San Francisco de Conchos</option>
	<option value="59">San Francisco del Oro</option>
	<option value="60">Santa Barbara</option>
	<option value="61">Satevo</option>
	<option value="62">Saucillo</option>
	<option value="63">Temosachic</option>
	<option value="64">El Tule</option>
	<option value="65">Urique</option>
	<option value="66">Uruachi</option>
	<option value="67">Valle de Zaragoza</option>
</select>