<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Acambay</option>
	<option value="2">Acolman</option>
	<option value="3">Aculco</option>
	<option value="4">Almoloya de Alquisiras</option>
	<option value="5">Almoloya de Juarez</option>
	<option value="6">Almoloya del Rio</option>
	<option value="7">Amanalco</option>
	<option value="8">Amatepec</option>
	<option value="9">Amecameca</option>
	<option value="10">Apaxco</option>
	<option value="11">Atenco</option>
	<option value="12">Atizapan</option>
	<option value="13">Atizapan de Zaragoza</option>
	<option value="14">Atlacomulco</option>
	<option value="15">Atlautla</option>
	<option value="16">Axapusco</option>
	<option value="17">Ayapango</option>
	<option value="18">Calimaya</option>
	<option value="19">Capulhuac</option>
	<option value="20">Coacalco de Berriozabal</option>
	<option value="21">Coatepec Harinas</option>
	<option value="22">Cocotitlan</option>
	<option value="23">Coyotepec</option>
	<option value="24">Cuautitlan</option>
	<option value="25">Chalco</option>
	<option value="26">Chapa de Mota</option>
	<option value="27">Chapultepec</option>
	<option value="28">Chiautla</option>
	<option value="29">Chicoloapan</option>
	<option value="30">Chiconcuac</option>
	<option value="31">Chimalhuacan</option>
	<option value="32">Donato Guerra</option>
	<option value="33">Ecatepec de Morelos</option>
	<option value="34">Ecatzingo</option>
	<option value="35">Huehuetoca</option>
	<option value="36">Hueypoxtla</option>
	<option value="37">Huixquilucan</option>
	<option value="38">Isidro Fabela</option>
	<option value="39">Ixtapaluca</option>
	<option value="40">Ixtapan de la Sal</option>
	<option value="41">Ixtapan del Oro</option>
	<option value="42">Ixtlahuaca</option>
	<option value="43">Xalatlaco</option>
	<option value="44">Jaltenco</option>
	<option value="45">Jilotepec</option>
	<option value="46">Jilotzingo</option>
	<option value="47">Jiquipilco</option>
	<option value="48">Jocotitlan</option>
	<option value="49">Joquicingo</option>
	<option value="50">Juchitepec</option>
	<option value="51">Lerma</option>
	<option value="52">Malinalco</option>
	<option value="53">Melchor Ocampo</option>
	<option value="54">Metepec</option>
	<option value="55">Mexicaltzingo</option>
	<option value="56">Morelos</option>
	<option value="57">Naucalpan de Juarez</option>
	<option value="58">Nezahualcoyotl</option>
	<option value="59">Nextlalpan</option>
	<option value="60">Nicolas Romero</option>
	<option value="61">Nopaltepec</option>
	<option value="62">Ocoyoacac</option>
	<option value="63">Ocuilan</option>
	<option value="64">El Oro</option>
	<option value="65">Otumba</option>
	<option value="66">Otzoloapan</option>
	<option value="67">Otzolotepec</option>
	<option value="68">Ozumba</option>
	<option value="69">Papalotla</option>
	<option value="70">La Paz</option>
	<option value="71">Polotitlan</option>
	<option value="72">Rayon</option>
	<option value="73">San Antonio la Isla</option>
	<option value="74">San Felipe del Progreso</option>
	<option value="75">San Martin de las Piramides</option>
	<option value="76">San Mateo Atenco</option>
	<option value="77">San Simon de Guerrero</option>
	<option value="78">Santo Tomas</option>
	<option value="79">Soyaniquilpan de Juarez</option>
	<option value="80">Sultepec</option>
	<option value="81">Tecamac</option>
	<option value="82">Tejupilco</option>
	<option value="83">Temamatla</option>
	<option value="84">Temascalapa</option>
	<option value="85">Temascalcingo</option>
	<option value="86">Temascaltepec</option>
	<option value="87">Temoaya</option>
	<option value="88">Tenancingo</option>
	<option value="89">Tenango del Aire</option>
	<option value="90">Tenango del Valle</option>
	<option value="91">Teoloyucan</option>
	<option value="92">Teotihuacan</option>
	<option value="93">Tepetlaoxtoc</option>
	<option value="94">Tepetlixpa</option>
	<option value="95">Tepotzotlan</option>
	<option value="96">Tequixquiac</option>
	<option value="97">Texcaltitlan</option>
	<option value="98">Texcalyacac</option>
	<option value="99">Texcoco</option>
	<option value="100">Tezoyuca</option>
	<option value="101">Tianguistenco</option>
	<option value="102">Timilpan</option>
	<option value="103">Tlalmanalco</option>
	<option value="104">Tlalnepantla de Baz</option>
	<option value="105">Tlatlaya</option>
	<option value="106">Toluca</option>
	<option value="107">Tonatico</option>
	<option value="108">Tultepec</option>
	<option value="109">Tultitlan</option>
	<option value="110">Valle de Bravo</option>
	<option value="111">Villa de Allende</option>
	<option value="112">Villa del Carbon</option>
	<option value="113">Villa Guerrero</option>
	<option value="114">Villa Victoria</option>
	<option value="115">Xonacatlan</option>
	<option value="116">Zacazonapan</option>
	<option value="117">Zacualpan</option>
	<option value="118">Zinacantepec</option>
	<option value="119">Zumpahuacan</option>
	<option value="120">Zumpango</option>
	<option value="121">Cuautitlan Izcalli</option>
	<option value="122">Valle de Chalco Solidaridad</option>
	<option value="123">Luvianos</option>
	<option value="124">San Jose del Rincon</option>
	<option value="125">Tonanitla</option>
</select>