<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Ahome</option>
	<option value="2">Angostura</option>
	<option value="3">Badiraguato</option>
	<option value="4">Concordia</option>
	<option value="5">Cosala</option>
	<option value="6">Culiacan</option>
	<option value="7">Choix</option>
	<option value="8">Elota</option>
	<option value="9">Escuinapa</option>
	<option value="10">El Fuerte</option>
	<option value="11">Guasave</option>
	<option value="12">Mazatlan</option>
	<option value="13">Mocorito</option>
	<option value="14">Rosario</option>
	<option value="15">Salvador Alvarado</option>
	<option value="16">San Ignacio</option>
	<option value="17">Sinaloa</option>
	<option value="18">Navolato</option>
</select>