<select name="municipios">
	<option value="0">todo el estado</option>
	<option value="1">Ahualulco</option>
	<option value="2">Alaquines</option>
	<option value="3">Aquismon</option>
	<option value="4">Armadillo de los Infante</option>
	<option value="5">Cardenas</option>
	<option value="6">Catorce</option>
	<option value="7">Cedral</option>
	<option value="8">Cerritos</option>
	<option value="9">Cerro de San Pedro</option>
	<option value="10">Ciudad del Maiz</option>
	<option value="11">Ciudad Fernandez</option>
	<option value="12">Tancanhuitz</option>
	<option value="13">Ciudad Valles</option>
	<option value="14">Coxcatlan</option>
	<option value="15">Charcas</option>
	<option value="16">Ebano</option>
	<option value="17">Guadalcazar</option>
	<option value="18">Huehuetlan</option>
	<option value="19">Lagunillas</option>
	<option value="20">Matehuala</option>
	<option value="21">Mexquitic de Carmona</option>
	<option value="22">Moctezuma</option>
	<option value="23">Rayon</option>
	<option value="24">Rioverde</option>
	<option value="25">Salinas</option>
	<option value="26">San Antonio</option>
	<option value="27">San Ciro de Acosta</option>
	<option value="28">San Luis Potosi</option>
	<option value="29">San Martin Chalchicuautla</option>
	<option value="30">San Nicolas Tolentino</option>
	<option value="31">Santa Catarina</option>
	<option value="32">Santa Maria del Rio</option>
	<option value="33">Santo Domingo</option>
	<option value="34">San Vicente Tancuayalab</option>
	<option value="35">Soledad de Graciano Sanchez</option>
	<option value="36">Tamasopo</option>
	<option value="37">Tamazunchale</option>
	<option value="38">Tampacan</option>
	<option value="39">Tampamolon Corona</option>
	<option value="40">Tamuin</option>
	<option value="41">Tanlajas</option>
	<option value="42">Tanquian de Escobedo</option>
	<option value="43">Tierra Nueva</option>
	<option value="44">Vanegas</option>
	<option value="45">Venado</option>
	<option value="46">Villa de Arriaga</option>
	<option value="47">Villa de Guadalupe</option>
	<option value="48">Villa de la Paz</option>
	<option value="49">Villa de Ramos</option>
	<option value="50">Villa de Reyes</option>
	<option value="51">Villa Hidalgo</option>
	<option value="52">Villa Juarez</option>
	<option value="53">Axtla de Terrazas</option>
	<option value="54">Xilitla</option>
	<option value="55">Zaragoza</option>
	<option value="56">Villa de Arista</option>
	<option value="57">Matlapa</option>
	<option value="58">El Naranjo</option>
</select>