
.admin-wrap {
  font-family: $font-radar;
  padding-left: 200px;
  padding-right: 0px;

  @include screen (0  600px) {
      padding-left: 55px;
  }
}

.all-content-admin {
  padding: 0;
  margin: 0 auto;
  text-align: left;

    @include screen (0  500px) { 
      margin: 0;
    }

  h5 {
    color: #323232;
    line-height: 13px;
  }
}

.admin-sidebar {

  position: fixed;
  left: 0;
  top: 0;
}

.side_bar  {
  position: fixed;
  top: 0;
  bottom: 0;
  font-size: 13px;
  background:#178DC0;
  list-style: none;
  text-align: left;
  box-shadow: 0px 1px 0 rgba(0,0,0,.06);
  width: 200px;

    @include screen (0  600px) {
    width: 55px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;

    li, span, h4 {
      display: none;
      padding: 0;
      margin-left: 0;
    }

    .logo2 {
      display: none;
      }

    a {
    padding: 17px 15px !important
    }
  }

  span {
    text-align: left;
    margin-left: 5px;
  }
  
  ul, li {
    display: block;
    width: 100%;
  }

  li {
    border-top: #1382B0 1px solid;
  }

  .logo2 {
    margin-bottom: 30px;
    border: none;
  }

  a {
    display: block;
    color: $white !important;
    padding: 15px 25px;

    a:visited {
      color: $white;
    }
  }
  
  h4 {
    font-variant: small-caps;
    color: #c8e5f1;
    font-size: 12px;
    margin: 0 0 20px 25px;
  }
}

.content-admin {
  position: relative;
  margin-top: 15px;
  float: left;
  width: 100%;

  & p {
    font-family: sans-serif;
  }

  @include screen (0  500px) {
    h1 {
      font-size: 1.8em;
    }
  }
}

.element {
  display: block;
  background: #Fcfcfc;
  color: #999;
  text-align: left;
  padding: 20px 25px;
  margin: 8px 0;
  border: #ccc solid 1px;
  border-radius: 5px;
  width: auto;

  span {
    font-size: 14px;
    font-family: sans-serif;
    color: #323232;
  }
    .total {

      font-size: 30px;
      font-weight: bold;
      float: right;
    }
}

.peligrosidad {
  padding: 20px 0 0 0;

  p.total {
    font-size: 35px;
    font-weight: bold;
    float: right;
    padding: 10px 25px 0 0;
    color: #999;
  }

  span {
    display: block;
    width: 85%;
    font-family: $font-radar;
    margin-left: 20px;
    padding-bottom: 20px;
  }
}

.grade {
  height: 5px;
  width: 100%;
  position: relative;
  bottom: 0;
  border-radius: 0 0 3px 3px;

  &.grave {
    background: $red-light-red;
  }

  &.media {
    background-color: $red-light-yellow;
  }

  &.moderada {
    background-color: $red-light-green;
  }
}

.header-questions {
  width: 100%;
  padding: 0 12% 10px 12%;

  & p {
    padding-top: 40px;
  }
}
