
.dashboard_header {
  font-family: $font-radar;
  height: 50px;
  background-color: #1991c3;
  z-index: 100;
  box-shadow: 0px 1px 0 rgba(0,0,0,.06);
  @include linear-gradient(lighten(#1991c3, 5%), #1991c3);

  .logo {
    float: left;
    position: relative;
    top:10px;
    margin-right: 30px;
  }

  .dashboard-menu {
      float:left;
      list-style-type: none;

      li {
        display: block;
        float:left;
        color: $white;
        font-size: 13px;
        border-right: 1px solid #1382B0;

        &:first-child {
          border-left: 1px solid #1382B0;
        }

        a {
          display: block;
          padding: 16px;
          color: $white;

          &:hover {
            background: darken(#1991c3, 1%);
          }
        }
      }
  }

  @include screen(1px, 600px) {
    .dashboard-menu{
      float: left;

      > li > a span {
        display: none;
      }
    }
  }
}

.help {
  float:right;
  list-style-type: none;


  > li {
    display: block;
    color: $white;
    font-size: 13px;
    border-right: 1px solid #1382B0;

    &:first-child {
      border-left: 1px solid #1382B0;
    }

    > a {
      color: $white;
      display: block;
      padding: 17px;
      color: $white;

      &:hover {
        background: darken(#1991c3, 1%);
      }
    }

    &.actions {
      padding: 0;

      .dropdown-pull {
        padding: 17px;

        &:hover {
          background: darken(#1991c3, 1%);
        }
      }
    }
  }


  @include screen(1px, 500px) {
  .dashboard-menu {
    float: left;
  }

  .button-help { 
    display: none;
    }
  } 
}


.title-dashboard {
  text-align: left;
  margin: 30px 0;
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  h4 {
    font-size: 16px;
    color: #cdd2d5;
  }
  
  @include screen (1px, 500px) {

    &.title-dashboard {
      text-align: left;
    }

    h2 {
      margin-bottom: 25px;
      line-height: 23px;
    }

    h4 {
       line-height: 16px;
    }
  }
}

.dashboard-footer {
  font-family: $font-radar;
  text-align: left;
  width: 100%;
  position: relative;
  bottom: 0;
  padding-top: 30px;
  background-color: $white;
  @include clearfix;
  float: left;
  border-top: 1px solid #ccc;

  & p {
    font-family: sans-serif;
    color: #666666;
    font-size: 13px;
  }

  & span {
    font-weight: bold;
  }

  .logo {
    float: left;
    position: relative;
    top:10px;
  }

    .powered-by {
    font-size: 13px;
    float: right;
    position: relative;
    bottom: 30px;
  }

  @include screen (1px, 500px) {

  &.dashboard-footer {
    text-align: center;
  }

    .powered-by {
      display: none;
    }

    p {
      padding-bottom: 30px;
    }
  }
}