.dropdown-wrap {
 position: relative;
 font-size: 12px;
 text-align: left;

  .dropdown-pull {
    cursor: pointer;
  }

 .dropdown-v {
   display: none;
   z-index: 60;
   position: absolute;
   top: 101%;
   min-width: 128px;
   background: darken(#Fcfcfc, 5%);
   border-radius: 3px;

   &.right {
    right: 0;
   }

   &.left {
    left: 0;
   }

   .tip {
     position: absolute;
     top: -9px;
     width: 15px;
     height: 9px;
   }
 }

 .dropdown-content {
   padding: 10px;
 }

 &.active > .dropdown-v {
   display: block !important;
  }
}

.dropdown-wrap .dropdown-v > ul li {
  list-style: none;


  @include screen(0px,   500px) {

    .dropdown-wrap .dropdown-v {
      display: none;
    }
  }
  
  &:first-child a {
    border-top: 0;
    border-radius: 3px 3px 0 0;
  }

  &:last-child a {
    border-radius: 0 0 3px 3px;
  }

  a, .as-link {
    display: block;
    padding: 12px 0 12px 15px;
    border-top: 1px solid #E4EAEC;
    color: #1991C3;

    &:hover {
      background: darken(#fafafa, 8%);
   }
 }
}