/*GENERAL*/

label {
  float: left;
  text-align: left;
}

textarea {
  width: 100%;
  resize: none;
  padding: 15px 10px;
  text-align: left;
}

.check-box-position {
  position: absolute;
  right: 5px;
  vertical-align: middle; 
}

select {
    box-shadow: 0 1px 0 #fff;
    background: #E6F2F7;
    color: #323232;
    border:1px solid #ccc;
    outline:none;
    display: inline-block;
    margin-top: 5px;
    appearance:none;
    cursor:pointer;
    font-size: 14px;
    height: 35px;
    width: auto;
    text-align: left;

  @include max-screen (500px) {
    width: 100%;
  }
}

/*FORMS - Columns*/
.form {
  background:none;
}

.full {
  width: 100%;

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }
}

.half {
  width: 50%;
}

input.half {
  width: 50%;
}

.one-quarter {
  width: 25%;
}

input.one-quarter {
  width: 25%;
}

.third-quarter {
  width: 75%;
}

input.third-quarter {
  width: 72%;
}

.half-half {
  
  .left  {
    width: 49%;
    float: left;

    @include max-screen(800px) {
      width: 100% !important;
    }
  }

  .right {
    width: 49%;
    float: right;

    @include max-screen(800px) {
      width: 100% !important;
    }
  }
}


.thirds {

  .left  {
    width: 32%;
    float: left;

    @include max-screen(800px) {
      width: 100% !important;
    }
  }

  .center {
    width: 32%;
    margin: 0 1%;
    float: right;
    float: left;
   
    @include max-screen(800px) {
      width: 100% !important;
    }
  }

  .right {
    width: 32%;
    float: right;

    @include max-screen(800px) {
      width: 100% !important;
    }
  }
}