.i {
  background: url('/img/pack.png');
  background-repeat: no-repeat;
  @include inline-block;
  vertical-align: middle;
  //background:gray;
}

.i-title {
  margin-right: 10px;
}

.i-tareas {
  width: 62px;
  height: 62px;
  background-position: 0px 2px;
}

.i-cuestionarios {
  width: 62px;
  height: 62px;
  background-position: -64px 2px;
}

.i-discuciones {
  width: 62px;
  height: 62px;
  background-position: -126px 2px;
}

.i-coments {
  width: 62px;
  height: 62px;
  background-position: -189px 2px;
}

.i-chat {
  width: 62px;
  height: 62px;
  background-position: 0px -64px;
}

.i-comunidad {
  width: 62px;
  height: 62px;
  background-position: -126px -64px;
}

.i-calificaciones {
  width: 62px;
  height: 62px;
  background-position: -58px -64px;
}

.i-estadisticas {
  width: 62px;
  height: 62px;
  background-position: -186px -64px;
}