.i {
  background: url('/img/pack.png');
  background-repeat: no-repeat;
  @include inline-block;
  vertical-align: middle;
}

.i-title {
  margin-right: 10px;
}

.i-tareas {
  width: 62px;
  height: 62px;
  background-position: 0px 2px;
  margin-bottom: 5px;
}

.i-cuestionarios {
  width: 62px;
  height: 62px;
  background-position: -63px 2px;
   margin-bottom: 5px;
}

.i-discuciones {
  width: 62px;
  height: 62px;
  background-position: -126px 2px;
   margin-bottom: 5px;
}

.i-coments {
  width: 62px;
  height: 62px;
  background-position: -189px 2px;
   margin-bottom: 5px;
}

.i-chat {
  width: 62px;
  height: 62px;
  background-position: 0px -64px;
   margin-bottom: 5px;
}

.i-comunidad {
  width: 62px;
  height: 62px;
  background-position: -126px -64px;
   margin-bottom: 5px;
}

.i-calificaciones {
  width: 62px;
  height: 62px;
  background-position: -58px -64px;
   margin-bottom: 5px;
}

.i-estadisticas {
  width: 62px;
  height: 62px;
  background-position: -186px -64px;
   margin-bottom: 5px;
}

.i-radar {
  width: 62px;
  height: 62px;
  background-position: -252px -64px;
   margin-bottom: 5px;
}

.i-mix {
  width: 62px;
  height: 62px;
  background-position: -315px -64px;
   margin-bottom: 5px;
}

.i-bit {
  width: 62px;
  height: 62px;
  background-position: -377px -64px;
   margin-bottom: 5px;
}

.i-gospel {
  width: 62px;
  height: 62px;
  background-position: -440px -64px;
   margin-bottom: 5px;
}

.i-easy {
  width: 40px;
  height: 40px;
  background-position: -525px -97px;
}

.i-rs {
  width: 78px;
  height: 50px;
  background-position: -130px -328px;
}

.i-functions {
  width: 53px;
  height: 50px;
  background-position: 9px -325px;
}

.i-ben {
  width: 55px;
  height: 50px;
  background-position: -56px -328px;
}

.i-conect {
  width: 42px;
  height: 40px;
  background-position: -362px 0px;
}

.i-tools {
  width: 70px;
  height: 40px;
  background-position: -419px 0px;
}

.i-multi {
  width: 87px;
  height: 40px;
  background-position: -496px 0px;
}

.i-cloud {
  width: 42px;
  height: 28px;
  background-position: -523px -61px;
}

.i-stat1 {
  width: 80px;
  height: 80px;
  background-position: 0px -133px;
}

.i-stat2 {
  width: 80px;
  height: 80px;
  background-position: -95px -133px;
}

.i-stat3 {
  width: 80px;
  height: 80px;
  background-position: -189px -133px;
}


.i-basic {
  width: 74px;
  height: 74px;
  background-position: -280px -137px;
  margin-bottom: 35px;
}

.i-medium {
  width: 74px;
  height: 74px;
  background-position: -373px -146px;
  margin-bottom: 35px;

}

.i-high {
  width: 74px;
  height: 74px;
  background-position: -450px -153px;
}

.i-easy2 {
  width: 40px;
  height: 40px;
  background-position: -525px -97px;
}

.i-ob1 {
  width: 90px;
  height: 90px;
  background-position: 0px -465px;
}

.i-ob2 {
  width: 90px;
  height: 90px;
  background-position: -90px -465px;
}


.i-quote {
  width: 26px;
  height: 38px;
  background-position: -479px -243px;
} 

.i-closequote {
  width: 26px;
  height: 26px;
  background-position: -509px -252px;
} 

.i-rol1 {
  width: 132px;
  height: 62px;
  background-position: 0px -393px;
  margin-bottom: 5px;
} 

.i-rol2 {
  width: 132px;
  height: 62px;
  background-position: -134px -393px;
  margin-bottom: 5px;
} 
.i-rol3 {
  width: 132px;
  height: 62px;
  background-position: -268px -393px;
  margin-bottom: 5px;
} 
.i-rol4 {
  width: 132px;
  height: 62px;
  background-position: -404px -393px;
  margin-bottom: 5px;
} 

.i-pitch1 {
  width: 95px;
  height: 95px;
  background-position: -188px -463px;
  margin-bottom: 5px;
} 

.i-pitch2 {
  width: 95px;
  height: 95px;
  background-position: -286px -463px;
  margin-bottom: 5px;
} 

.i-pitch3 {
  width: 95px;
  height: 95px;
  background-position: -383px -463px;
  margin-bottom: 5px;
} 

.i-pitch4 {
  width: 95px;
  height: 95px;
  background-position: -477px -463px;
  margin-bottom: 5px;
} 



