ul.menu li {
  height: 70px;
  float:left;
  list-style-type: none;
  padding-top: 5px;
  font-family: $font-radar;

  &.space{
    height: 48px;
    padding-top: 25px;
    padding-left: 40px; 
  }

  a.nav-top{
    font-size: 13px;
    color: $white;
  }

  a.nav-pate {
    color: $white !important;
    float: left;
  }
}

ul.tipos-bullying li {
  text-align: center;
  float:left;
  list-style-image: url("disc.png");
  margin-right: 30px;
}