
/* Cuestionarios de victimización */

.all-tabs {
  background:#f3f3f3;
}

.form-sheet {
  display: block;
  background: #fff;
  margin: 60px 0;
  box-shadow: 0px -1px 5px #999;

  @include max-screen(600px) {
    background:$white;
    padding: 0;
    margin: 20px 0;
  }
}

.tabs-place{
  font-family: $font-radar;
}

.tabs {
  text-align: center;
  display: block;
  border: none;

  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 50%;
  padding:10px 0;
  @include clearfix;
  float: left;

  &.personal {
    background:#1E4D5C;
    float: left;
  }

  &.witness {
    background:#66A80F;
    float: left;
  }
}

.tabs-main-content {
  text-align: left;
  padding: 0px;
  @include clearfix;

  .text-box {
    float: left;
    margin-bottom: 30px;
    padding: 20px 40px;

    .data {
      float: left;
      width: 45%;
      margin: 30px 5% 0 0;
      color: $white;
    }

    p {
      font-size: 15px;
      line-height: 19px;
      color: $white;
      padding-top: 20px;
    }

    h4,label {
      color: $white;
    }

    @include max-screen (500px) {
      .text-box {
      float: left;
      text-align: left;
      } 

      .data {
        width: 100%;
      }
    }
  }
}

.question-list {
  font-family: $font-radar;
}

.question-item  {
  cursor: pointer;
  position: relative;
  display: block;
  background: #Fcfcfc;
  color: #666666;
  position: relative;
  text-align: left;
  padding: 8px 30px 8px 15px;
  margin: 8px 35px;
  border: #ccc solid 1px;
  border-radius: 5px;
  font-size: 15px;

  &:hover {
    background: rgba(0,0,0,.06);
  }
}

.history, .agresores {
  margin: 30px 20px 20px 20px;
  padding: 20px;
  text-align: left;
  @include clearfix;

  p {
    font-weight: bold;
  }

  .options {
    float: left;
  }
}

.logo-form {
  background:#fafafa;
  border-top: 1px #efefef solid;
  padding: 35px;
  text-align: left; 
}
/* END Cuestionarios de victimización */

/* ERROR LLENAR CAMPOS CORRECTOS*/
label.error {
  color: $white !important;
  font-family: sans-serif !important;
  font-size: 13px !important;
  width: 100%;
  text-align: left;
  background:rgba(0,0,0,0.5);
  border-radius: 0 0 3px 3px;
  padding: 4px 0;
  float: left;
  text-align: center;

  label {
    position: relative;
    top: -25px;
  }
}

.column {

  label.error {
    position: relative;
    top: -20px;
  }
}
/* END ERROR LLENAR CAMPOS CORRECTOS*/

.cuestionaries-create {
  text-align: left;
  margin: 40px 0;
}

.title-box {
  padding: 50px 0;
  border-bottom: none;
  margin-bottom: 0px;
}

.instrucciones {
  background:#e8eef3;
  padding:30px 25px 15px 25px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.questions_container {
  margin-top: 10px;
}

.question-area {
  position: relative;
  background:#F2EEEE;
  margin: 20px 0;
  padding: 25px; 
}

.select-type {
  margin-bottom: 15px;
  font-size: 14px;

  select {
    width: 100%;
  }
}

.remove {
  position: absolute;
  right: 0;
  top: 0;

  a {
    color: #333;
    width: auto;
    display: block;
    background: none;
    padding: 4px 6px;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
  }

  :hover {
    background: rgba(255,0,0,.7);
    color: $white;
    font-weight: bold;
  }
}

.quiz-content {
  width: 100%;
}

.question-element {
  width: 100%;
  text-align: left;
  padding: 10px 35px ;
  border-bottom: 1px solid #ececec;
  margin: 30px 0 10px 0;
  float: left;

  .question {
    font-size: 15px;
    font-family: $font-radar;
  }

  @include max-screen (500px) {
    padding: 10px;
    margin: 10px 0 5px 0;
  }
}

.type-text {
  width: 100%;
  text-align: left;
}

.type-multi {
  text-align: left;
  margin-bottom: 10px;

 .element {
    cursor: pointer;
    position: relative;
    display: block;
    background: #Fcfcfc;
    color: #666666;
    position: relative;
    text-align: left;
    padding: 8px 30px 8px 15px;
    margin: 8px 5px;
    border: #ccc solid 1px;
    border-radius: 5px;
    font-size: 15px;

    &:hover {
      background: rgba(0,0,0,.06);
    }
    
    &.active {
      background: #B7C5C5;

      span {
        color: $white;
      }
    }

    .no-show {
      display: none;
    }
  }
}

.type-scale {
  background:#fcfcfc;
  
  table, td {
    border: 1px #ececec solid;
    padding: 25px;
  }

  @include max-screen (670px) {

    table, td {
      text-align: left;
      width: 100%;
      float: left;
      border: 1px #ececec solid;
    padding: 5px 10px;
    }
  }

  .radiobutton-position {
    position: absolute;
    right: 0;
  }
}

.cuestionario {
  text-align: left;
  margin-bottom: 35px;

  p {
    color: $white;
  }
}

.answers {
  padding-top: 20px;
  text-align: left;
}

.answer {
  margin: 15px 30px ;
  border-bottom: 1px dotted #cecece;
  border-radius: 3px;
  color: $main-blue;
}

.title_responce_quest {
  font-size: 14px;
  font-weight: bold;
  color: $main-blue;
  font-family: $font-radar;
}

.responce {
  font-size: 15px ;
  color: #323232;
  font-weight: lighter;
  font-family: sans-serif;
}

.lheight {
  line-height: 13px;
  padding: 5px 0;

  span {
    color: $main-blue;
  }
}

.form-box {
  text-align: left;
  margin: 30px auto 80px auto;
  width: 75%;
  height: auto;
  color: #a4a4a4;
  border-radius: 3px;
  padding: 35px 7% ; 
  @include clearfix;
}

.form-box2 {
  padding: 30px 60px;
  margin-bottom: 35px;

  @include max-screen (650px) {
    margin: 15px 0;
    padding: 10px 20px;
  }
}

.abajo {
  text-align: center;

  tr td {
    float: left;
  }

  span {
    display: block;
    margin: 5px 0px;
  }
}

.campo {
  display: block;
  background:#ccc;
}

.answer-title {
  padding: 45px 0;
  text-align: left;

  h5 {
  color: #fff !important;
  }
}