$font-radar: 'Roboto', sans-serif;
$primary-color: #076DA9;
$black: #323232;
$white: #FFFFFF;
$main-blue: #1e7ac2;
$orange: #FF7612;
$red-light-red: #FF3A00;
$red-light-green: #0CD400;
$red-light-yellow: #FFC515;
