.intro {
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  @include cover-background(cover);

  &.intro-main {
    background-image: url('/img/bg_main.png');
  }
  &.intro-stats {
    background-image: url('/img/bg_stats.png');
  }
  &.pate-intro {
    background-image: image-url('/pate/img.png');

  &.pate-how {
    background-image: url('img/pate/how.jpg');
}
 &.intro-contact {
    background-image: url('/img/bg-contact.png');
  }

    p,span {
    color: $white;
    }

    a.under {
      text-decoration: underline;
      font-weight: bold;
    }

    a.under:hover {
      color: #1387d9;
    }
  }

  @include max-screen (900px) {
    margin-top: 55px;
    padding-top: 15px;
  }
}

.image-banner {
  top: 0;
  height:100%;
  width: 100%;
  background-image: url('/img/pate/bg_main.png'); 
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  color: $white; 
}

.pate-how {
  top: 0;
  height:auto;
  width: 100%;
  background-image: url('/img/pate/how.png'); 
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
  background-position: center; 
}


.intro-contact {
  top: 0;
  height:auto;
  width: 100%;
  background-image: url('/img/bg-contact.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
  background-position: center; 
}

.main_blue{
background: #00b7ea; 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjdlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iIzAwYjdlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzAwYjdlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzAwYjdlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDllYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #00b7ea 0%, #00b7ea 24%, #00b7ea 45%, #00b7ea 67%, #009ec3 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(24%,#00b7ea), color-stop(45%,#00b7ea), color-stop(67%,#00b7ea), color-stop(100%,#009ec3)); 
background: -webkit-linear-gradient(top, #00b7ea 0%,#00b7ea 24%,#00b7ea 45%,#00b7ea 67%,#009ec3 100%); 
background: -o-linear-gradient(top, #00b7ea 0%,#00b7ea 24%,#00b7ea 45%,#00b7ea 67%,#009ec3 100%); 
background: -ms-linear-gradient(top, #00b7ea 0%,#00b7ea 24%,#00b7ea 45%,#00b7ea 67%,#009ec3 100%);
background: linear-gradient(to bottom, #00b7ea 0%,#00b7ea 24%,#00b7ea 45%,#00b7ea 67%,#009ec3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); 
margin: 0;
border-collapse: collapse;
}

.bg-white {
  background: rgba(255,255,255,1);
}
.bg-gray {
  background: #E0E0E0 !important;
}
.bg-gray2 {
  background:#958e88;
  color: $white;
}
.bg-darkgray {
  background: rgba(35,45,51,1);
  color: $white;
}
.bg-lightgray {
  background: rgba(240,240,240,1);
}

.bg-green{
  background-color: rgba(85,192,33,1);
}
.bg-blue{
  background-color: #2AB6F4;
  color: $white;
}
.bg-darkblue {
  background:#0fc0ec;
  color: $white;
}
.bg-purple {
  background-color: rgba(107,46,94,1);
  color: $white;

  & p{
    color: $white;
  }
}

.white_transparent {
  background: rgba(255,255,255,0.3) !important;
}
.black_transparent {
  background: rgba(5,31,52,0.7) !important;
}
.bg-redgradient {
  @include linear-gradient(75deg, #c74331 0%, #ec531e 100%);
  color: $white;
}
.bg-bluegradient {
  @include linear-gradient(75deg, #0F5681 0%, #3EA7D5 100%);
  color: $white;
}

.bg-blueg {
  @include linear-gradient(75deg, #0A86B3 0%, #37D5E2 100%);
  color: $white;
}

.bg-greengradient {
  @include linear-gradient(75deg, #396879  0%, #42A3A6 100%);
  color: $white;
}
.bg-orangegradient {
  @include linear-gradient(75deg, #E7581A 0%, #F7AA32 100%);
  color: $white;
}


.bg-greymid-grandient{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );

}