.btn {
  font-family: $font-radar;
  border-radius: 4px;
  text-align: center;
  padding: 15px 10px;
  cursor: pointer;

  &.btn-input {
    @include inline-block;

    input {
      font-size: 13px;
      font-weight: lighter;
      background: none;
      border: none;
    }

    input:hover {
      background: none;
      color: #0A5F8A;
      border: none;
    }
  }

  @include screen(1px, 900px) {
    padding: 5%;
    float: left;
    width: 100%;
    margin: 2% 0;
  }

  @include iphone5 {
    padding: 5%;
    float: left;
    width: 100%;
    margin: 2% 0;
  }

  @include iphone4 {
    padding: 5%;
    float: left;
    width: 100%;
    margin: 2% 0;
  }
}

.btn-cta{
  background: rgba(19,135,217,1);
  font-size: 1em;
  color: #FFFFFF;
  font-weight: bold ;
  z-index: 325;
  border: 1px solid;
  border-color: rgba(255,255,255,0.5);
}

.btn-cta:hover  {
  background: #00B2FF;
  border-color: rgba(255,255,255,0.8);
}

.btn-border {
  background:none;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid;
  border-color: rgba(255,255,255,0.3);
}

.btn-border:hover  {
  background: rgba(0,0,0,0.18);
  border-color: rgba(255,255,255,0.8);
}


.btn-goto {
  background:rgba(26,90,152,1);
  color: #fff;
  font-weight: bold ;
  padding: 10px 35px;
  margin-top: 50px;
}

.btn-goto:hover  {
  background: rgba(23,64,103,1);
}


.btn-apply{
  background: rgba(19,135,217,1);
  font-size: 1.18em;
  color: #FFFFFF;
  font-weight: bold ;
  z-index: 325;
  border: 2px solid;
  border-color: rgba(255,255,255,0.8);
  padding: 25px 30px;
}

.btn-apply:hover  {
  background: rgba(131,68,116,1);
}

.btn-sponsor {
  background: rgba(236,62,44,1);
  font-size: 1.18em;
  color: #FFFFFF;
  font-weight: bold ;
  z-index: 325;
  border: 2px solid;
  border-color: rgba(255,255,255,0.8);
  padding: 15px 30px;
}

.btn-sponsor:hover {
  background: rgba(192,54,39,1);
}


.btn-send{
  background: rgba(22,110,242,1);
  font-size: 1em;
  color: #FFFFFF;
  font-weight: bold ;
  z-index: 325;
  border: 1px solid;
  border-color: rgba(255,255,255,0.5);
  width: 100%;
  margin: 4% 0;
}

.btn-send:hover  {
  background: #00B2FF;
  border-color: rgba(255,255,255,0.8);
}

.btn-green{
  background: rgba(67,180,12,1);
  font-size: 1em;
  color: #FFFFFF;
  font-weight: bold ;
  z-index: 325;
  border: 1px solid;
  border-color: rgba(255,255,255,0.5);
}

.btn-green:hover  {
  background-color: rgba(91,161,37,1);
}