.btn {
  font-family: $font-radar;
  border-radius: 3px;
  text-align: center;

  &.btn-input {
    @include inline-block;

    input {
      font-size: 13px;
      font-weight: lighter;
      background: none;
      border: none;
    }

    input:hover {
      background: none;
      color: #0A5F8A;
      border: none;
    }
  }
}

.btn-border {
  background:none;
  border: solid 1px white;
  padding: 10px;
  color: #fff;
}