.btn {
  font-family: $font-radar;
  border-radius: 3px;
  text-align: center;
  padding: 15px 10px;
  cursor: pointer;

  &.btn-input {
    @include inline-block;

    input {
      font-size: 13px;
      font-weight: lighter;
      background: none;
      border: none;
    }

    input:hover {
      background: none;
      color: #0A5F8A;
      border: none;
    }
  }
}

.btn-cta{
    background: #004A69;
    font-size: 1em;
    color: #FFFFFF;
    font-weight: bold ;
    z-index: 325;

}

.btn-border {
  background:none;
  border: solid 1px white;
  color: #fff;
  font-size: 1em;
  font-weight: bold ;
}