* {
	-webkit-font-smoothing: antialiased;
}

body{
	position:absolute;
	width:100%;
	height:100%;
	margin:auto;
	text-align:center;
	border-collapse:collapse;
	font-family: sans-serif;
	font-weight: regular;
}

p{
	font-size: 16px;
	line-height: 28px;
	color: #323232;
}

h1,h2,h3,h4,h5{
	font-family: $font-radar;
}

h1{
	line-height: 58px;
}

h1.home {
	font-size: 3em;
	line-height: 1.6em;
	text-shadow: 1px 2px 1px #323232;
	color: white;
	font-weight: lighter;
}

p.p-big {
	font-size: 20px;
	color: #7C7C7C;
	padding: 65px 0 10px 0;
}


h2{
	font-size: 34px;
}
h2.second_text{
    font-size: 21px;
    color: #fff;
    margin-top: 5%;
}

h3{
	font-size: 25px;
}

h4{
	font-size: 20px;
	line-height: 22px;
}

h5.sub {
    vertical-align: sub;
    font-size: 14px;
    float: left;
    color: #323232 !important
}

h5{
	color:#076DA9;
	font-size: 16px;
	line-height: 32px;
}

h6{
	font-family: sans-serif;
	color: white;
	font-size: 23px;
	line-height: 32px;
	font-weight: lighter;
	padding: 3% 0;
}

hr {
	border-top: solid 1px #ececec;
	margin: 0;
	padding: 2% 0;
}

hr.cta {
	border-top: solid 1px #cecece;
	margin: 0;
	position: relative;
	top: 125px;
	z-index: -1;
}


.quote-box {
	background:$white;
	border: 1px solid #ccc;
	padding: 60px 0;

	p {
		line-height: 35px;
		font-size: 18px;
		color: #9B9B9B;
	}
}

.header {
	height: 75px;
	width: 100%;
	margin: auto;
	display: block;;
	padding: 0 2% 12px 2%;
  position: fixed;
  z-index: 5;
	@include max-screen (900px) {
	 position: fixed;
	 top: 0;
	 text-align: center;
	}
}

.header_scroll{
	height: 75px;
	width: 100%;
	margin: auto;
	display: block;
	padding: 0 2% 12px 2%;
  position: fixed;
  background: #fff;
  border-bottom: #E7E7E7 solid 2px;
  z-index: 5;
	@include max-screen (900px) {
	position: fixed;
	top: 0;
	text-align: center;
	}
}

.logo {
  float: left;
  position: relative;
  top:16px;
  margin-right: 30px;

  @include max-screen(900px) {
  	position: absolute;
		left: 10px;
		right: 0;
		 
		 img {
		 	width: 120px;
		}
	}
}

.logo2 {
  float: left;
  position: relative;
  top:16px;
  margin-right: 30px;
 } 

.menu-mobile {
	position: absolute;
	left: 0;
	top: 0;
	padding:25px 15px;
	border-right: 1px solid #dedede;
	display: none;
	cursor: pointer;

	ul {
		list-style: none;
	}

	@include max-screen (900px) {
		display: inline-block;
	}
}

.menu-main{

	& li {
		float:left;
		list-style-type: none;
		display: block;
		cursor: pointer;
		margin-right: 5px;

	& a {
		display: block;
		font-family: $font-radar;
		color: $white;
		font-size: 15px;
		padding: 25px 10px;
	}

	& a:hover {
		color: #15708B;
		border-radius:0 0 3px 3px;
		display: block;
		}

	}
		@include max-screen (900px) {
		display: none;
	}
}

.menu-main-bottom{
    background: #fff;
	& li {
		float:left;
		list-style-type: none;
		display: block;
		cursor: pointer;
		margin-right: 5px;

	& a {
		display: block;
		font-family: $font-radar;
		color: #00B2D3;
		font-size: 15px;
		padding: 25px 10px;
	}

	& a:hover {
		background:rgba(255,255,255,0.1);
		color: $main-blue;
		border-radius:0 0 3px 3px;
		display: block;
		}
	}
		@include max-screen (900px) {
		display: none;
	}
}

.main-title {
	padding: 12% 0 1% 0;
}

.head-title {
	padding: 8% 0 3% 0;
	text-align: left;

	h3 {
		text-align: left;
		font-size: 35px;
	}

	h4 {
		font-weight: lighter;
		opacity: 0.7;
		padding-left: 60px;
	}
}

.form-title {
	padding: 7% 0 2% 0;
	text-align: left;

	h3 {
		text-align: left;
		font-size: 25px;
	}

	h4 {
		font-weight: lighter;
		opacity: 0.7;
		padding-left: 60px;
	}
}


.dashboard {
	position: relative;
	top: 0;
	left: 0;
}

.img-center {
	display: table;
  margin: 0 auto;
  vertical-align: bottom;

  img {
  	width: auto;
  	display: block;
  	vertical-align: bottom;
  }
}

	.img-bottom {
		z-index: 1;
		position: relative;
		bottom: -2em;
	}



.footer{
	text-align: left;
	width: 100%;
	position: relative;
	bottom: 0;
	padding: 4% 0;
	background-color: #41596b;
	vertical-align: middle;
	@include clearfix;
	float: left;

	.rights {
		float: left;
		color: #C8CFD7;
		font-size: 12px;
		margin-top: 30px;
	}

	.footer-menu{
		float: left;
		text-align: left;
	}

	ul.footermenu {

		li {
			list-style-type: none;
			padding: 6px 0;
			display: block;
			color: $white;
			font-weight: bold;
		}
	
		a {
			color: #C8CFD7;
			font-size: 14px;
			padding-right: 30px;
			font-weight: lighter;
		}
	}

	.language {
	  font-size: 11px;
	  margin-right: 20px;
	}

	.powered-by {
		font-size: 13px;
		float: right;
	}

	@include max-screen(500px) {
		height: 50px;

		.footermenu {
			display: none;
		}
	}
}


.center-content {
	text-align: center;
	z-index: -5;

	@include max-screen(500px) {

		h1 {
			font-size: 34px;
			line-height: 36px;
			margin-top: 20px;
		}

		h6 {
			font-size: 17px;
			line-height: 22px;
			margin-bottom: 20px;
		}
	}
}

.titlebox{
	text-align: left;
	color: white;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	h2, p {
		text-shadow: 1px 2px #545454;
		color: white;
	}

	p {
		@include text-size-large;
	}

	.titlebox-content {
		padding: 60px 0;
	}


	@include max-screen (500px) {
		.titlebox-content {
			padding: 20px 0;

			h2 {
				font-size: 30px;
				line-height: 30px;
				padding: 20px 0;
			}

			p {
				font-size: 15px;
				line-height: 17px;
			}
		}
	}
}


.paddingtop {

	img {
	display: block;
	padding: 0 10%;
	}

	@include max-screen(650px) {
		text-align: left;

		img {
			display: none;
		}
	}

}

.img_center {
  display: table;
  margin: 0 auto;
  border: none;
  width: 80%;
}

.info{
	float: left;
	text-align: left;
	padding: 5px 0; 
	margin-bottom: 10px; 

	& h2{
		margin-bottom: 25px;
	}

	& h3 {
		color: #9D0A7B;
		font-size: 21px;
		margin: 10px 0 20px 0;
	}

	& h4 {
		color: #323232;
		margin-bottom: 25px;
	}

	p {
		text-align: justify;
	}

	span {
		color: white;
	}
	a {
		color: #44BAF4;
	}
	a:hover{
		color: #4387A8;
	}
}


.funcion{
	text-align: left;
	padding: 80px 0;

	.section-title  {
	text-align: center;
	padding-bottom: 30px;
	}

	& p{
		margin-bottom: 20px;
	}
}

.item {
	padding: 30% 12%;
	color: $white;
	text-align: center;
	line-height: 23px;
	
	span {
		color: $white;
	}

	h2 {
		font-size: 20px;
		margin: 15px 0 25px 0;
		color: rgba(206,249,82,1);
		padding: 10px;
		line-height: 24px;
	} 

	span {
		margin-top: 15px;
		text-align: left;
	}
}

.item2 {
	background:$white;
	padding: 16% 12%;
	font-size: 18px;
	text-align: left;
	line-height: 25px;
	border-radius: 3px 3px 0 0; 
	
		span {
			text-align: justify;
			color: #323232;
			line-height: 30px;
		}

		img {
			padding-bottom: 45px;
		}
	}

.social {
	text-align: center;
}

.clients {
	padding: 1% 0;
	text-align: center;
	hr {
		border-top: solid 1px #cecece;
		margin: 1% 4%;
	}
	h3 {
		color: rgba(181,198,199,1);
	}
}
.pitch {
	padding: 6% 0 3% 0;

	h2 {
		padding-bottom: 4%;
	}

	h5 {
		color: #323232;
		padding-top: 25px;
		line-height: 30px;
	}
}

.testimonials {
	padding: 10% 0 7% 0;

	h2 {
		color: $white;
		padding-bottom: 2%;
	}
}

ul.social_list {
	margin-bottom: 80px;
	list-style: none;
	padding-top: 20px;

	li {
		text-align: left;
		color: #323232;
		list-style-image: url('/img/check.png');
		padding: 0 5px;
		margin: 0 5% 40px 5%;
		vertical-align: top;
	}

	li.title  {
		list-style: none;
		color: #FF9E09;
		position: relative;
		left: -30px;
		font-size: 19px;
		z-index: -6;
	}

	li.color {
		text-align: left;
		color: $white;
		list-style-image: url('/img/check_color.png');
		padding: 0 5px;
		margin: 0 5% 30px 5%;
		vertical-align: top;
	}
}


.call{
	text-align: center;
	padding: 80px 0 100px 0;

		.section-title  {
		text-align: center;
		padding: 20px 0;
	}

		p {
		color: $white;
		@include text-size-medium;
		margin-bottom: 50px;
	}
}

.suscribe {
	text-align: left;
	margin: auto;
	background:none;
	width: 300px;
	height: auto;
	color: #a4a4a4;
	border-radius: 3px;

	.suscribe-field {
		width: auto;
		float: left;
	}

	input.mail {
		height: 60px;
		margin-right: 5px;
		margin-left: 10px;
	} 

	@include max-screen(500px) {
		.suscribe-field {
			width: 50%;
		}
	}
}

.us-info{
	text-align: justify;
	padding: 80px 0 100px 0;
					
	.section-title  {
	padding: 20px 0;
	}

	p {
		color: $white;
		@include text-size-medium;
		margin-bottom: 50px;
	}
}

.content {
	padding: 45px 0px 15px 0;
	position: relative;
	display: block;

	img {
		position: relative;
	}

	h4 {
		padding-bottom: 25px;
	}
} 

.register {
	margin: 100px 10% !important;
}

.loginbox{
	text-align: left;
	margin: 100px 30%;
	width: auto;
	height: auto;
	border-radius: 3px;
	@include clearfix;


	border: solid 2px #eee; 
    width:40%;
    color: #363434;
	padding: 2%;
	background: #fff;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

 p {
		float: left;
		font-size: 17px;
		text-align: left;
		line-height: 22px;
		margin-bottom: 25px;
	}

	.content {
		padding: 0 10px;
	}

	@include max-screen(500px) {
		width: 100%;
		margin: 30px auto;
	}

	.column {
		padding: 5px 12px 0 12px;
	}

	form,label,textarea{
		font-size: 14px;
		margin-bottom: 5px;

	}

	.title-sign {
		background: white;
		border-radius: 3px 3px 0 0;
		padding:12px 20px;
		padding-bottom: 30px;
		margin-bottom: 20px;
		height: 80px;
		
		
		& p {
			float: left;
			color: #333;
			font-size: 14px;
		}
	
		
		& a {
			float: left;
			color: #3789B9;
			font-size: 13px;
			margin: 3px 0 5px 3px;
		} 
	}

	.bottomsign {
		background: white;
		border-radius: 0 0 3px 3px;
		padding:15px;
		color: #3879B4;
		font-size: 13px;
		margin-top: 20px;

			span.a-sign{
			font-size: 14px;
		}
	}
	.terminos {
		padding-left: 25px;
		padding-bottom: 20px;
	}
}
.form-email {
	text-align: center;
	width: 700px;
}

.contact-form{
	margin: 30px 0;
	padding-top: 15px;

	@include max-screen (500px) {

		 p { 
		 	margin: 0 0 25px 0;
		}
	}
}

.form-contenido{
	text-align: left;

	label.error {
    position: relative;
    top: -20px;
    color: red;
    border-bottom: 1px #ccc solid;
	}

	textarea {
		background:#f1f1f1;
	}
}

.contenido {
	text-align: center;

	& img {
		margin: 15px 0;
		padding-top: 20px;
	}

		p {
			margin-top: 40px;
	}

	span {
		color: #1991C3;
		font-weight: bold;
	}

	@include max-screen (650px) {

		p {
			text-align: left;
		}

		img.hide {
			display: none;
		}
	}
}

.title-config {
	text-align: center;
	margin: 45px 0 25px 0;

	h2 {
		font-size: 24px;
		font-weight: bold;
	}

	h4 {
		font-size: 16px;
		color: #cdd2d5;
	}

	img {
		text-align: center;
		margin-bottom: 35px;
	}
}

.current-stat-grade {
	text-align: center;
	position: relative;
	padding: 130px 0;
	margin: 0 100px;

	.speech {
		font-family: $font-radar;
		position: absolute;
		top: 0;
		width: 200px;
		height: 110px;
		margin-left: -100px;
		text-align: center;
		line-height: 35px;
		background-color: #fff;
		border: 1px solid #666;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0px 0px 3px #1D3A44;
		-webkit-box-shadow: 0px 0px 3px #1D3A44;
		box-shadow: 0px 0px 3px #1D3A44;

		h3 {
			padding-top: 25px;
			font-size: 40px;
			color: $black;
		}

		span {
			color: #666;
		}

		.tip {
			position: absolute;
			left: 50%;
			bottom: -16px;
			margin-left: -20px;
			width: 41px;
			height: 16px;
			background: image-url('pack.png') 0 -38px no-repeat;
		}

	@include max-screen(500px) {

		.tip {
			display: none;
			}
		}
	}

	.light-green {
		background-image: image-url('light_green.png');
	}

	.light-yellow {
		background-image: image-url('light_yellow.png');
	}

	.light-red {
		background-image: image-url('light_red.png');
	}

	.grades {
		text-align: left;
		width: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		.lights-imgages {
			text-align: left;
			width: 33.33%;
			float: left;
			background-position: center top;
			background-repeat: no-repeat;
			padding: 20px 0;
			margin:25px auto 25px auto;

			img {
				display: block;
				width:318px;
				height: 50px;
				width: auto;
				height: auto;
			}

			p {
				text-align: center;
				font-family: $font-radar;
				font-variant: small-caps;
				color: #f0f0f0;
				font-size: 15px;
			}
		}
	}

	@include max-screen(500px) {

		&.current-stat-grade {
			position: relative;
			padding: 80px 0 ;
			width: auto;
			text-align: left;
		}
		
		.speech {
			position: absolute;
			right: 0 !important;
			padding: 5px 5px 5px 10px;
		}

		.grades {
			display: none;
		}
	}
}


.total-filtro {
	text-align: left;
	margin-top: 20px;
	vertical-align: middle;
	position: relative;
	top: 0;


		.tip2 {
		position: absolute;
		left: 50%;
		top:-20px;
		left:35px;
		width: 54px;
		height: 20px;
		background: image-url('pack.png') 0 -98px no-repeat;
	}

	@include max-screen (500px) {

		.total {
			& span {
				font-size: 23px;
			}
		}

		.tip2 {
			margin-left: 75px;
		}

	}
}

.lista-denuncias {
	text-align: left;

	@include max-screen (650px) {
	position: relative;
	top: 80px;
	}
}

.filter-line {
	width: 100%;
	position: relative;
	@include clearfix;
	float: left;

	h4 {
			color: #666666;
			font-size: 24px;
		}

		.total {
		padding:25px 0;
		float: left;
		width: auto;
		display: block;
	}

	.filtro {
		label {
		text-align: right;
		font-family: $font-radar;
		font-size: 13px;
		} 
	}

	.experts {
		position: absolute;
		border-radius: 5px;
		display: block;
		top: 15%;
		right: 0;		
		background: #fce5a1;

		span, a {
			padding: 10px;
			font-size: 13px;
			color: #333;
			background: #fce5a1;
		}
	}

	@include  max-screen(600px) {

		.total {
			padding:10px 0;
		}

		.experts {
		top: 50px;
		}
	}
}


.copy-script {

	padding: 25px 30px 60px 30px;
	width: 600px;
	color: #666666;
	margin: 50px 0 20px 0;
}


.note {
	clear: right;
	padding: 0 20%;
	
	@include max-screen (600px) {
		&.note {
			text-align: left;
			padding: 0;
		}
	}

	p {
		font-size: 13px;
		color: #666666;
		margin: 25px 0;
	}

	span {
		font-weight: bold;
		color: red;
		font-variant: small-caps;
	}
}

.detail-element {
	width: 100%;
	text-align: left;		
	background-color: #f6f6f6;
	padding: 30px 0 27px 0;
	margin-bottom: 30px;
	border-bottom: 3px solid transparent;

	&.peligrosidad-moderada {
		border-bottom-color: $red-light-green;
	}
	
	&.peligrosidad-grave {
		border-bottom-color: $red-light-red;
	}

	&.peligrosidad-media {
		border-bottom-color: $red-light-yellow;	
	}
}

.title {
	font-family: $font-radar;
	list-style-type: none;

	.title-line {
		height: 40px;
		float:left;
		padding-top: 12px;
		color: #999999;
	}

	h5 {
		color: #333;
		line-height: 15px;
	}

	p {
	padding-left: 40px;
	}

	i {
		margin: 10px 20px 10px 0;
		float: left;
	}
}

.intro-element {
	color:$white;
	text-align: left;
	height: 20px;
	padding: 60px 0;

	h3 {
		font-size: 24px;
	}

	@include max-screen (680px) {
		padding: 20px 0;

		h3 {
			font-size: 18px;
		}
	}
}


.cases {
	text-align: left;
	
	h5 {
		color: #333;
	}
}

.case-item {
	width: 90%;
	background: #fcfcfc;
	margin: 20px 0;
	padding: 15px;
	border: #efefef solid 1px;
	border-radius: 5px ;
	
	p {
		color: #666666;
	}
}

.others {
	margin: 35px 0;
	background: #F5f5f5;
	padding: 30px;
	border-radius: 5px;

		h5 {
		color: #333;
	}
}


.comment-new {
	text-align: left;
	margin-top: 45px;
	position: relative;
	top: 5px;

	.tex-area-comment {

		label, textarea {
		padding: 25px;
		}
		
	@include max-screen(500px) {
		textarea {
padding: 15px 120px 25px 10px;		}
	}

	}


	h4 {
		font-size: 15px;
		margin-bottom: 15px;
	}
}

.comment-view {
	text-align: left;
	margin: 15px 0;
	padding: 5px 10px 8px 30px;
	border-bottom: 1px solid #476C7A;
	font-size: 14px;


	.name {
		float: left;
		margin-right: 20px;
		width: 180px;
		
		p {
			font-family: $font-radar;
			color: $white;
		}

		span {
			font-size: 11px;
			color: #ccc;
		}
	}

	.comment_say {
		float: left;
		text-align: left;
	}

	.delete {
		a {
			color: #1990C2;
			font-size: 13px;
			line-height: 30px;
			margin-bottom: 45px;
		}
	}
}

.load-more {
	text-align: center;
	width: 100%;
	margin-bottom: 100px;
	margin-top: 20px;
}

.sig {
	padding: 10px 0 !important;
}


.edit {
		height: 60px;
		margin-bottom: 50px;
		padding-top: 35px;

	
	.edit-info {
		text-align: left;
		color: $white;
	}
}

.data-edit {
	float: left;
	text-align: left;
	padding-bottom: 90px;
}

.school-detail {
	background:none;
}

.cancel-link {
			a { color: #1990C2;
			font-size: 14px;
			line-height: 30px;
			margin-bottom: 45px;
			padding-left: 35px;
		}
}

.notice_box {
	font-family: $font-radar;
	background:rgba(0,0,0,0.75);
  z-index: 100;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 15px 25px;
	color: $white;
}

#menu-imobile {
	z-index:200; 
	position:fixed; 
	margin-top:72px;
	cursor: pointer;
  display: none;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.3);

  	& ul li.btn_menu_mobile {

			& a {
				color: #204A87;
			}

			:hover {
			color: $main-blue;
			}
		}


	& ul li {
		background:$white;
		text-align: left;
		border-top: 1px solid #efefef;

		& a {
			display: block;
			padding: 15px;
			font-size: 13px;
			color: $main-blue;
			font-family: $font-radar;
		}

		:hover {
			background:#efefef;
			color: #323232;
		}
	}
}

.responce_message_contact{
	background-image: image-url('radar_banner_responce.jpg');
	width:100%;
	height:700px;
	opacity: 0.4;
  filter: alpha(opacity=40);
  background-size:100% 100%;
  background-repeat: none; 
}

.api-header {
	text-align: left;
	padding: 25px 0;

	& h5 {
		color: $white;
		line-height: 32px;
		font-size: 18px;
	}
	
	.title-api { 
		p {
			font-family: sans-serif;
			color: $white;
		}
	}

	@include max-screen (500px) {
		.title-api {
				margin-top: 70px;
			} 
	} 
}

.api_content {
	text-align: left;

	h4 {
		font-size: 24px;
		padding-bottom: 20px;
	}

	p {
		font-weight: lighter;
		color: #666;
		line-height: 35px;
	}
}

.api-element {
	padding: 45px 0;
	font-weight: bold;
	border-bottom: 1px #e3e3e3 solid;

		span a {
		color: $main-blue;
	}
}

.parameter li  {
	font-size: 12px;
	list-style: none;
	font-weight: regular;
	line-height: 25px;
}

.code-box {
	text-align: right;
	text-align: center;
	display: block;
	border-radius: 2px;
	background:#FCFCFC;
	padding: 15px;
	margin: 40px 30% 0px 30%;

	h2 {
		color: #65D238;
	}

	@include max-screen(650px) {
		margin: 25px 0;
	}
}

.title-space {
padding: 25px 0 10px 0;
}

.show_hide{
	display: block;
	cursor: pointer;
	position: relative;
	top: 0px;
	background:none;
	border-bottom: 1px dashed #666;
} 

.steps {
	position: relative;
	top: 0px;
	width: 100%;
	line-height: 30px;
	margin-bottom: 30px;

	ul {
		text-align: justify;
		padding: 5px 10%;

		li {
			line-height: 25px;
			list-style: circle;
			margin-bottom: 15px;
		}
	}
}

.smallbox {
	padding: 15px;
	margin: 0 5px;
	border-radius: 3px;
	float: left;

	select {
		width: 100%;
		margin-bottom: 14px;
	}
	
	&.alpha {
		margin-left: 0 !important;
	}

}

.signin-button{
    list-style-type: none;
     margin-left:76px;
	& li{
	  float:left;
	  margin-left:3px;
      padding: 24px 1px;
	  & a{
	  	color:#dfdfdf;

	  	&.blue{
	  		color: #7BDCFF;
	  	}
	  }
		a:hover {
			color: #2E68A9;
		}
		span {
			color: #CBDADD;
		}      
	}
}

.signin-button-bottom{
    list-style-type: none;
     margin-left:76px;
	& li{
	  float:left;
	  margin-left:3px;
      padding: 24px 1px;
	  & a{
	  	color:#A3A3A3;

	  	&.blue{
	  		color: #00B2D3;
	  	}
	  }
	  a:hover {
			color: #2E68A9;
		}
		span {
			color: #7E8B8E;
		}   
	}
}

.login{
	float: right;
	text-align: right;
	margin-left: 20px;
	padding-top: 4px;
}

.buttons_cta{
	width:100%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.button_banner{
	text-align: center;
	list-style-type: none;
	& li{
		display: inline;
    list-style-type: none;
    padding-right: 20px;
	}
}

.functions{
	position: relative;
	padding-bottom: 6%;
	z-index: -5;
	text-align: left;

		h4 {
		margin-bottom: 40px;
		color: #45a11c;
	}

	h5 {
		margin-bottom: 5px;
	}
}

.tools {
	width: 100%;
	margin-bottom: 50px;

	.tool {
		width: 74px;
		margin-right: 10%;
		margin-bottom: 5px;
		float: left;
		text-align: center;
	}
}

.stats {

	h1 {
		font-size: 55px;
		line-height: 100px;
		text-shadow: 1px 2px rgba(0,0,0,0.2);
		font-weight: lighter;
	}

	span {
		font-size: 18px;
		font-weight: medium;
	}
}

.plugins {
	margin-top: 2%;
	padding-top: 4%;

	  p {
    color: $white;
    padding: 2% 0 3% 0;
    font-size: 21px;
    font-weight: lighter;
  }

  h2 {
  	padding: 20px 0;
  }
}
.right {
	float: right;
	img {
		position: relative;
		display: block;
		right: 0;
	}
}

.banner_content{
	background:#EDEDED;
	width: 100%;
	padding-bottom: 25px;
}
.bannerx { 
	    position: relative; 
	    overflow: auto;
	    width:100%;
	    margin:3% 0 5% 0;
	    padding:0;

      & ul { 
      	float: left;
      }

	    & li {
	       list-style: none; 
	       float: left;
	       font-size: 13px;

	      p {
	       	font-size: 17px;
	       	line-height: 26px;
	       	color: #333;
	       	margin-left: 5%;
	       	margin-right: 3%;
	      }

	      span {
	       	font-size: 20px;
	       	line-height: 26px;
	       	color: $white;
	       	margin-left: 5%;
	       	margin-right: 3%;
	       }
		   }

	    & .dots {
	    	display: block;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0px;
				padding:0 5% 45px 2% ;


		  & li {
				cursor: pointer !important;
				display: inline-block;
				width: 18px;
				height: 18px;
				margin: 0 13px;
				text-indent: -999em;
				border: 2px solid #ececec;
				border-radius: 10px;
				opacity: .6;
				-webkit-transition: background .6s, opacity .6s;
				-moz-transition: background .6s, opacity .6s;
				transition: background .6s, opacity .6s;
				bottom:0;
			}

			& li.active {
				background: #0D5C84;
				opacity: 0.6;
			}
		}

		& .divimage {
			float:left;
			width:16%;
			padding-top: 4%;
      background: #fff; 
      height: 240px;
      border-right: 1px solid #ececec;
      border-right-style: dashed;
		}

		& .divtestimonial{
			float: right;
			width: 84%;
	    text-align: justify ;
	    border-left:none;
	    background: #fff; 
	    padding: 4% 3% 4% 0;
	    height: 240px;
		}

		& .autor{
			float: right;
			margin: 15px 15px 20px 0;
			text-align: right;
			color: $white;
		}

		& .triangle {
			width: 0;
			height: 0;
			border-top: 50px solid #fff;
			border-right: 50px solid transparent;
			float:right;
			margin-top:-18px;
			margin-right: 3%;

		}

		& .quote {
			color: #9BE5FF;
			text-align: right;
			float: right;
			padding-top: 5px;
			font-size: 18px;
		}
}

.tools-info {
    margin-bottom: 40px;
  p{
  	color: #323232;
  }

  h2 {
  	text-align: left;
  	margin-bottom: 30px;
  	font-size: 28px;
  }
}

.features-links {
	padding: 3% 0 6% 0;
  list-style-type: none;
  list-style: none;
  position: relative;


    & li.ben{
	    width: 138px;
	    float:left;
			list-style-type: none;
			display: block;
			text-align: center;
			cursor: pointer;
		}
	    
    & li{
	    width: 98px;
	    float:left;
			list-style-type: none;
			display: block;
			text-align: center;
			cursor: pointer;

			&:hover {
				opacity: 99;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
				filter: alpha(opacity=99);
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
	  }
  & .unactive {
  	opacity: 0.3;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
  }
   & .span {
		font-variant: small-caps;
		font-size: 11px;
		color: #ccc;
	}
}

.function_content{
	position: relative;
	display: block;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 10px solid #fff;
	margin-top: 13px;
	margin-left: 37%;
}

.content-top{
	margin-top: 120px;
	margin-bottom: 10px;
}

ul.benefit-list {
	margin-bottom: 35px;
	text-align: left;

	li {
		list-style-type: none;
		text-align: left;
		line-height: 20px;
		margin-bottom: 15px;
	}

	li.block {
		list-style-image: url('/img/checkblue.png');
		text-align: left;
		line-height: 30px;
		margin-bottom: 15px;
		margin-left: 25px;
	}
		&	h4 {
		color: rgb(179, 179,179);
		margin-bottom: 25px;
	}
}

.chart {
	margin: 4% 0;

	h4.blue {
		color: blue;
		margin-top: 35px;
	}
}

.priv {
	font-size: 10px;
	padding: 0 0 60px 0;
	margin-top: 35px;
	text-align: justify;

	p {
	color: #ececec !important;
	}
}

.rawmargin{
	margin-left: 10%;
}


.formsheet {
	background:$white;
	margin:1% 3%;
	padding: 2%;
	box-shadow: 0px 0px 5px #ccc;
}

.question {
	padding: 0;
	margin-bottom: 3%;
}