* {
	-webkit-font-smoothing: antialiased;
}

body{
	position:absolute;
	width:100%;
	height:100%;
	margin:auto;
	text-align:center;
	border-collapse:collapse;
	font-family: sans-serif;
	font-weight: regular;
}

p{
	font-size: 15px;
	line-height: 22px;
	color: #323232;
}

h1,h2,h3,h4,h5{
	font-family: $font-radar;
}

h1{
	font-size: 36px;
	line-height: 54px;
	color: #323232;
}

h1.home {
	font-size: 58px;
	line-height: 64px;
	margin-bottom: 30px;
	padding-top: 80px;
	text-shadow: 1px 2px #204E62;
	color: white;
	font-weight: bold;
}

h2{
	font-size: 44px;
}

h3{
	font-size: 32px;
}

h4{
	font-size: 20px;
	line-height: 22px;
}

h5{
	color:#076DA9;
	font-size: 16px;
	line-height: 32px;
}

h6{
	font-family: sans-serif;
	color: white;
	font-size: 23px;
	line-height: 32px;
	font-weight: lighter;
	text-shadow: 1px 2px #204E62;
}

a:visited {
	color: #666;
}

.header {
	background:#000;
	height: 75px;
	width: 100%;
	margin: auto;
	display: block;
	box-shadow: 0px 2px 2px #888888;
	padding-bottom: 12px;


	@include max-screen (900px) {
	 position: fixed;
	 top: 0;
	 text-align: center;
	}
}

.logo {
  float: left;
  position: relative;
  top:10px;
  margin-right: 30px;

  @include max-screen(900px) {
  	position: absolute;
		left: 10px;
		right: 0;
		 
		 img {
		 	width: 120px;
		}
	}
}

.logo2 {
  float: left;
  position: relative;
  top:10px;
  margin-right: 30px;
 } 

.menu-mobile {
	position: absolute;
	left: 0;
	top: 0;
	padding:25px 15px;
	border-right: 1px solid #dedede;
	display: none;
	cursor: pointer;

	ul {
		list-style: none;
	}

	@include max-screen (900px) {
		display: inline-block;
	}
}


.menu-main{

	& li {
		float:left;
		list-style-type: none;
		display: block;
		cursor: pointer;
		margin-right: 5px;

	& a {
		display: block;
		font-family: $font-radar;
		color: $main-blue;
		font-size: 13px;
		padding: 27px 10px;
	}

	& a:hover {
		background:$white;
		color: $gray;
		}
	}
		@include max-screen (900px) {
		display: none;
	}
}

.block{
	opacity: 0.9;
	height: 220px;
	width: 100%;
	display: block;
	text-align: justify;
	margin: 80px 0 80px 0;
	border-radius: 3px;
	position: relative;

	.block-content {
		padding: 30px;
	}

	.img-block{
		display: block;
		float: right;
		position: absolute;
		bottom: 30px;
		right: 35px;
	}

	.btn {
		position: absolute;
		bottom: 30px;
	}

	.nav-btn{
		color:#FFFFFF;
		font-size: 14px;
	}
	& p{
		color: white;
	}

	@include max-screen(800px) {
			margin: 5px 0 25px 0;

		h3 {
			font-size:25px;
		}

		.block-content {
			padding: 15px;
		}

	.img-block {
		position: absolute;
		right: -17px;
	}

		img {
			width: 65%;
		}
	}
}

.footer{
	text-align: left;
	width: 100%;
	position: relative;
	bottom: 0;
	padding: 20px 0;
	background-color: $white;
	vertical-align: middle;
	@include clearfix;
	float: left;

	.footer-menu{
		float: left;
		text-align: left;
	}

	.footermenu {

		li {
			height: 40px;
			float:left;
			list-style-type: none;
			padding-top: 10px;
			display: block;

			.space{
				padding-top: 12px;
				padding-right: 25px; 
			}
		}
	
		a.nav-bottom{
			color: #076DA9;
			font-size: 13px;
			padding-right: 30px;
		}
	}

	.language {
	  font-size: 11px;
	  margin-right: 20px;
	}

	.powered-by {
		font-size: 13px;
		float: right;
	}

	@include max-screen(500px) {
		height: 50px;

		.footermenu {
			display: none;
		}
	}
}


.center-content {
	text-align: center;

	@include max-screen(500px) {

		h1 {
			font-size: 34px;
			line-height: 36px;
			margin-top: 20px;
		}

		h6 {
			font-size: 17px;
			line-height: 22px;
			margin-bottom: 20px;
		}
	}
}

.titlebox{
	text-align: left;
	color: white;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	h2, p {
		text-shadow: 1px 2px #545454;
		color: white;
	}

	p {
		@include text-size-large;
	}

	.titlebox-content {
		padding: 60px 0;
	}


	@include max-screen (500px) {
		.titlebox-content {
			padding: 20px 0;

			h2 {
				font-size: 30px;
				line-height: 30px;
				padding: 20px 0;
			}

			p {
				font-size: 15px;
				line-height: 17px;
			}
		}
	}
}


.paddingtop {

	img {
	display: block;
	padding: 0 10%;
	}

	@include max-screen(650px) {
		text-align: left;

		img {
			display: none;
		}
	}

}

.info{
	float: left;
	text-align: left;
	padding: 90px 0; 

	& h3{
		margin-bottom: 25px;
	}
}

.bullying-detection{
	padding: 100px 0px 50px 0;
	margin-top: 0;

	.section-title  {
		text-align: center;
		margin-top: 30px;
	}
	
	img {
		margin-bottom: 20px;
	}

	p {
		color: $white;
		@include text-size-medium;
		margin-bottom: 30px;
	}
	span{
		color: #b5e018;
	}
}


.tipos-bullying {

	.section-title  {
		text-align: center;
		margin-top: 50px;
	}

		img {

		margin-bottom: 40px;
		}

		.big {
			width: 100%;
		}

		.small {
			display: none;
		}

		@include max-screen (800px) {
				.big {
			display: none;
		}

		.small {
			display: block;
		}
	}
}

.bulying-types {
	font-family: $font-radar;
	font-size: 13px;
	color: #666;
	margin:40px auto 60px 0; 
	text-align: center;
	@include clearfix;
	

	.b-tipe {
		text-align: center;

		label {
			float: left;
			text-align: center;
			background:#fefefe;
			display: block;
			padding: 10px 38px;
			margin: 0 10px 10px 0;
			border-radius: 3px;
			border: #efefef 1px solid;
		}

		@include max-screen (650px) {
			label {
				width: 100%;
				padding: 10px 0;
			}
		}
	}
}

.funcion{
	text-align: center;
	padding: 80px 0;

	.section-title  {
	text-align: center;
	padding-bottom: 30px;
	}

	& p{
		margin-bottom: 20px;
	}
}

.call{
	text-align: center;
	padding: 80px 0 100px 0;

		.section-title  {
		text-align: center;
		padding: 20px 0;
	}

		p {
		color: $white;
		@include text-size-medium;
		margin-bottom: 50px;
	}
}

	.suscribe {
		text-align: left;
		margin: auto;
		background:none;
		width: 300px;
		height: auto;
		color: #a4a4a4;
		border-radius: 3px;

		.suscribe-field {
			width: auto;
			float: left;
		}

		input.mail {
			height: 60px;
			margin-right: 5px;
			margin-left: 10px;
	} 

	@include max-screen(500px) {
		.suscribe-field {
			width: 50%;
		}
	}
}

.us-info{
	text-align: justify;
	padding: 80px 0 100px 0;
					
	.section-title  {
	padding: 20px 0;
	}

	p {
		color: $white;
		@include text-size-medium;
		margin-bottom: 50px;
	}
}

.content {
	text-align: left;
	padding: 0 40px;
} 

	.register {
		margin: 100px 10% !important;
	}


.loginbox{
	text-align: left;
	margin: 100px 30%;
	width: auto;
	height: auto;
	color: #a4a4a4;
	border-radius: 3px;
	@include clearfix;

 p {
		float: left;
		color: $white;
		font-size: 17px;
		text-align: left;
		line-height: 22px;
		margin-bottom: 25px;
	}

	.content {
		padding: 0 10px;
	}

	@include max-screen(500px) {
		width: 100%;
		margin: 30px auto;
	}

	.column {
		padding: 5px 12px 0 12px;
	}

	form,label,textarea{
		color: $white;
		font-size: 14px;
	}

	.title-sign {
		background: white;
		border-radius: 3px 3px 0 0;
		padding:12px 20px;
		padding-bottom: 30px;
		margin-bottom: 20px;
		height: 80px;
		
		
		& p {
			float: left;
			color: #333;
			font-size: 14px;
		}
	
		
		& a {
			float: left;
			color: #3789B9;
			font-size: 13px;
			margin: 3px 0 5px 3px;
		} 
	}

	.bottomsign {
		background: white;
		border-radius: 0 0 3px 3px;
		padding:15px;
		color: #3879B4;
		font-size: 13px;
		margin-top: 20px;

			span.a-sign{
			font-size: 14px;
		}
	}
	.terminos {
		padding-left: 25px;
		padding-bottom: 20px;
	}
}
.form-email {
	text-align: center;
	width: 700px;
}

.contact-form{
	margin: 30px 0;
	padding-top: 15px;

	@include max-screen (500px) {

		 p { 
		 	margin: 0 0 25px 0;
		}
	}
}

.form-contenido{
	text-align: left;

	label.error {
    position: relative;
    top: -20px;
    color: red;
    border-bottom: 1px #ccc solid;
	}

	textarea {
		background:#f1f1f1;
	}
}

.contenido {
	text-align: center;

	& img {
		margin: 15px 0;
		padding-top: 20px;
	}

		p {
			margin-top: 40px;
	}

	span {
		color: #1991C3;
		font-weight: bold;
	}

	@include max-screen (650px) {

		.buttons{
			text-align:left;
			float: left;
			}
		
		.copy-script {
			width: 100%;
		}

		p {
			text-align: left;
		}

		img.hide {
			display: none;
		}
	}
}

.title-config {
	text-align: center;
	margin: 45px 0 25px 0;

	h2 {
		font-size: 24px;
		font-weight: bold;
	}

	h4 {
		font-size: 16px;
		color: #cdd2d5;
	}

	img {
		text-align: center;
		margin-bottom: 35px;
	}
}

.current-stat-grade {
	text-align: center;
	position: relative;
	padding: 130px 0;
	margin: 0 100px;

	.speech {
		font-family: $font-radar;
		position: absolute;
		top: 0;
		width: 200px;
		height: 110px;
		margin-left: -100px;
		text-align: center;
		line-height: 35px;
		background-color: #fff;
		border: 1px solid #666;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0px 0px 3px #1D3A44;
		-webkit-box-shadow: 0px 0px 3px #1D3A44;
		box-shadow: 0px 0px 3px #1D3A44;

		h3 {
			padding-top: 25px;
			font-size: 40px;
			color: $black;
		}

		span {
			color: #666;
		}

		.tip {
			position: absolute;
			left: 50%;
			bottom: -16px;
			margin-left: -20px;
			width: 41px;
			height: 16px;
			background: image-url('pack.png') 0 -38px no-repeat;
		}

	@include max-screen(500px) {

		.tip {
			display: none;
			}
		}
	}

	.light-green {
		background-image: image-url('light_green.png');
	}

	.light-yellow {
		background-image: image-url('light_yellow.png');
	}

	.light-red {
		background-image: image-url('light_red.png');
	}

	.grades {
		text-align: left;
		width: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		.lights-imgages {
			text-align: left;
			width: 33.33%;
			float: left;
			background-position: center top;
			background-repeat: no-repeat;
			padding: 20px 0;
			margin:25px auto 25px auto;

			img {
				display: block;
				width:318px;
				height: 50px;
				width: auto;
				height: auto;
			}

			p {
				text-align: center;
				font-family: $font-radar;
				font-variant: small-caps;
				color: #f0f0f0;
				font-size: 15px;
			}
		}
	}

	@include max-screen(500px) {

		&.current-stat-grade {
			position: relative;
			padding: 80px 0 ;
			width: auto;
			text-align: left;
		}
		
		.speech {
			position: absolute;
			right: 0 !important;
			padding: 5px 5px 5px 10px;
		}

		.grades {
			display: none;
		}
	}
}


.total-filtro {
	text-align: left;
	margin-top: 20px;
	vertical-align: middle;
	position: relative;
	top: 0;


		.tip2 {
		position: absolute;
		left: 50%;
		top:-20px;
		left:35px;
		width: 54px;
		height: 20px;
		background: image-url('pack.png') 0 -98px no-repeat;
	}

	@include max-screen (500px) {

		.total {
			& span {
				font-size: 23px;
			}
		}

		.tip2 {
			margin-left: 75px;
		}

	}
}

.lista-denuncias {
	text-align: left;

	@include max-screen (650px) {
	position: relative;
	top: 80px;
	}
}

.filter-line {
	width: 100%;
	position: relative;
	@include clearfix;
	float: left;

	h4 {
			color: #666666;
			font-size: 24px;
		}

		.total {
		padding:25px 0;
		float: left;
		width: auto;
		display: block;
	}

	.filtro {
		label {
		text-align: right;
		font-family: $font-radar;
		font-size: 13px;
		} 
	}

	.experts {
		position: absolute;
		border-radius: 5px;
		display: block;
		top: 15%;
		right: 0;		
		background: #fce5a1;

		span, a {
			padding: 10px;
			font-size: 13px;
			color: #333;
			background: #fce5a1;
		}
	}

	@include  max-screen(600px) {

		.total {
			padding:10px 0;
		}

		.experts {
		top: 50px;
		}
	}
}

.list {
	font-family: $font-radar;

	.list-item {
		display: block;
		background: #Fcfcfc;
		color: #666666;
		position: relative;
		text-align: left;
		padding: 20px 40px 20px 25px;
		margin: 8px 0;
		border: #ccc solid 1px;
		border-radius: 5px;

		&:hover {
			background: darken(#Fcfcfc, 3%);
		}
	}

	h5 {
		color: #323232;
	}

	& p {
		color: #999999;
		font-size: 14px;
	}

	.arrow-link {
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -7px;
	}

	.list-item-grade {
		position: absolute;
		width: 7px;
		height: 100%;
		left: 0;
		top: 0;
		margin: 0px 0 0px -1px;
		border-radius: 5px 0 0 5px;

		&.peligrosidad-grave {
			background: $red-light-red;
		}

		&.peligrosidad-media {
			background-color: $red-light-yellow;
		}

		&.peligrosidad-moderada {
			background-color: $red-light-green;
		}
	}
	
	@include max-screen (500px) {
	
	.list-item {
		padding: 5px 0 5px 25px;
		font-size: 13px;
	}

		& p {
			color: #999999;
			font-size: 13px;
		}

		span.case-grade {
			display: none;
		}

		span.case-id {
			font-size: 13px;
		}
	}
}

.copy-script {

	padding: 25px 30px 60px 30px;
	width: 600px;
	color: #666666;
	margin: 50px 0 20px 0;
}


.note {
	clear: right;
	padding: 0 20%;
	
	@include max-screen (600px) {
		&.note {
			text-align: left;
			padding: 0;
		}
	}

	p {
		font-size: 13px;
		color: #666666;
		margin: 25px 0;
	}

	span {
		font-weight: bold;
		color: red;
		font-variant: small-caps;
	}
}

.detail-element {
	width: 100%;
	text-align: left;		
	background-color: #f6f6f6;
	padding: 30px 0 27px 0;
	margin-bottom: 30px;
	border-bottom: 3px solid transparent;

	&.peligrosidad-moderada {
		border-bottom-color: $red-light-green;
	}
	
	&.peligrosidad-grave {
		border-bottom-color: $red-light-red;
	}

	&.peligrosidad-media {
		border-bottom-color: $red-light-yellow;	
	}
}

.title {
	font-family: $font-radar;
	list-style-type: none;

	.title-line {
		height: 40px;
		float:left;
		padding-top: 12px;
		color: #999999;
	}

	h5 {
		color: #333;
		line-height: 15px;
	}

	p {
	padding-left: 40px;
	}

	i {
		margin: 10px 20px 10px 0;
		float: left;
	}
}

.intro-element {
	color:$white;
	text-align: left;
	height: 20px;
	padding: 60px 0;

	h3 {
		font-size: 24px;
	}

	@include max-screen (680px) {
		padding: 20px 0;

		h3 {
			font-size: 18px;
		}
	}
}


.cases {
	text-align: left;
	
	h5 {
		color: #333;
	}
}

.case-item {
	width: 90%;
	background: #fcfcfc;
	margin: 20px 0;
	padding: 15px;
	border: #efefef solid 1px;
	border-radius: 5px ;
	
	p {
		color: #666666;
	}
}

.others {
	margin: 35px 0;
	background: #F5f5f5;
	padding: 30px;
	border-radius: 5px;

		h5 {
		color: #333;
	}
}


.comment-new {
	text-align: left;
	margin-top: 45px;
	position: relative;
	top: 5px;

	.tex-area-comment {

		label, textarea {
		padding: 25px;
		}
		
	@include max-screen(500px) {
		textarea {
padding: 15px 120px 25px 10px;		}
	}

	}


	h4 {
		font-size: 15px;
		margin-bottom: 15px;
	}
}

.comment-view {
	text-align: left;
	margin: 15px 0;
	padding: 5px 10px 8px 30px;
	border-bottom: 1px solid #476C7A;
	font-size: 14px;


	.name {
		float: left;
		margin-right: 20px;
		width: 180px;
		
		p {
			font-family: $font-radar;
			color: $white;
		}

		span {
			font-size: 11px;
			color: #ccc;
		}
	}

	.comment_say {
		float: left;
		text-align: left;
	}

	.delete {
		a {
			color: #1990C2;
			font-size: 13px;
			line-height: 30px;
			margin-bottom: 45px;
		}
	}
}

.load-more {
	text-align: center;
	width: 100%;
	margin-bottom: 100px;
	margin-top: 20px;
}

.sig {
	padding: 10px 0 !important;
}


.edit {
		height: 60px;
		margin-bottom: 50px;
		padding-top: 35px;

	
	.edit-info {
		text-align: left;
		color: $white;
	}
}

.data-edit {
	float: left;
	text-align: left;
	padding-bottom: 90px;
}

.school-detail {
	background:none;
}

.cancel-link {
			a { color: #1990C2;
			font-size: 14px;
			line-height: 30px;
			margin-bottom: 45px;
			padding-left: 35px;
		}
}

.notice_box {
	font-family: $font-radar;
	background:rgba(0,0,0,0.75);
  z-index: 100;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 15px 25px;
	color: $white;
}

#menu-imobile {
	z-index:200; 
	position:fixed; 
	margin-top:72px;
	cursor: pointer;
  display: none;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.3);

  	& ul li.btn_menu_mobile {

			& a {
				color: #204A87;
			}

			:hover {
			color: $main-blue;
			}
		}


	& ul li {
		background:$white;
		text-align: left;
		border-top: 1px solid #efefef;

		& a {
			display: block;
			padding: 15px;
			font-size: 13px;
			color: $main-blue;
			font-family: $font-radar;
		}

		:hover {
			background:#efefef;
			color: #323232;
		}
	}
}

.responce_message_contact{
	background-image: image-url('radar_banner_responce.jpg');
	width:100%;
	height:700px;
	opacity: 0.4;
  filter: alpha(opacity=40);
  background-size:100% 100%;
  background-repeat: none; 
}

.api-header {
	text-align: left;
	padding: 25px 0;

	& h5 {
		color: $white;
		line-height: 32px;
		font-size: 18px;
	}
	
	.title-api { 
		p {
			font-family: sans-serif;
			color: $white;
		}
	}

	@include max-screen (500px) {
		.title-api {
				margin-top: 70px;
			} 
	} 
}

.api_content {
	text-align: left;

	h4 {
		font-size: 24px;
		padding-bottom: 20px;
	}

	p {
		font-weight: lighter;
		color: #666;
		line-height: 35px;
	}
}

.api-element {
	padding: 45px 0;
	font-weight: bold;
	border-bottom: 1px #e3e3e3 solid;

		span a {
		color: $main-blue;
	}
}

.parameter li  {
	font-size: 12px;
	list-style: none;
	font-weight: regular;
	line-height: 25px;
}

.code-box {
	text-align: right;
	text-align: center;
	display: block;
	border-radius: 2px;
	background:#FCFCFC;
	padding: 15px;
	margin: 40px 30% 0px 30%;

	h2 {
		color: #65D238;
	}

	@include max-screen(650px) {
		margin: 25px 0;
	}
}

.title-space {
padding: 25px 0 10px 0;
}

.show_hide{
	display: block;
	cursor: pointer;
	position: relative;
	top: 0px;
	background:none;
	border-bottom: 1px dashed #666;
} 

.steps {
	position: relative;
	top: 0px;
	width: 100%;
	line-height: 30px;
	margin-bottom: 30px;

	ul {
		text-align: justify;
		padding: 5px 10%;

		li {
			line-height: 25px;
			list-style: circle;
			margin-bottom: 15px;
		}
	}
}

.smallbox {
	padding: 15px;
	margin: 0 5px;
	border-radius: 3px;
	float: left;

	select {
		width: 100%;
		margin-bottom: 14px;
	}
	
	&.alpha {
		margin-left: 0 !important;
	}

}
