.header_pate{
	width: 100%;
	margin: auto;
	display: block;;
  position: fixed;
  background: #49054A;
  border-bottom: #682283 solid 1px;
  padding: 0 2%;
  z-index: 9999999;
	@include max-screen (900px) {
	 position: fixed;
	 top: 0;
	 text-align: center;
	}
}

h1.pate {
  font-size: 4.5em;
  line-height: 1.3em;
  text-shadow: 1px 3px 2px #370F2D;
  color: white;
  font-weight: normal;
  padding-top: 2em;
}

h2.pate {
    font-size: 2.7em;
  text-shadow: 1px 3px 2px #370F2D;
  color: white;
  font-weight: normal;
  padding-top: 1em;
}

.logo-pate {
  float: left;
  position: relative;
  top:18px;
  margin-right: 30px;

  @include max-screen(900px) {
  	position: absolute;
		left: 10px;
		right: 0;
		 
		 img {
		 	width: 120px;
		}
	}
}


.objetive{
  margin: 0;
	padding: 4% 0;
  text-align: center;

  h2 {
    padding:0 5% 30px 5%;
  }

  p,span {
    font-size: 17px;
    padding: 0;
    color: $white;
    line-height: 30px;
  }
}

.menu-main-pate{

  & li {
    float:right;
    list-style-type: none;
    display: block;
    cursor: pointer;
    margin-right: 5px;

  & a {
    display: block;
    font-family: $font-radar;
    color: $white;
    font-size: 15px;
    padding: 25px 10px;
    text-align: left;
  }

  & a:hover {
    color: #DA7FED;
    border-radius:0 0 3px 3px;
    display: block;
    }

  }
    @include max-screen (900px) {
    display: none;
  }
}


.item3 {
  background:$white;
  padding: 25px 8%;
  text-align: center;
  border-radius: 3px 3px 0 0; 
  height: 350px;

    h3 {
      color: #1387d9;
      line-height: 45px;
    }
  
    p {
      font-size: 18px;
      color: #323232;
      line-height: 25px;
    }

    span {
      color: #323232;
    }

    img {
      padding-bottom: 45px;
    }
  }
.itempl {
  padding: 7% 20%;
  text-align: center;
  border-radius: 3px; 
  margin-bottom: 25px;

    h3 {
      font-size: 21px;
      color: #1387d9;
      line-height: 30px;
      padding-top: 4%;
    }
  
    span {
      font-size: 18px;
      text-align: justify;
      color: #323232;
      line-height: 25px;
    }

    img {
      padding-bottom: 45px;
    }

}