.header_pate{
	height: 75px;
	width: 100%;
	margin: auto;
	display: block;;
	padding-bottom: 12px;
    position: fixed;
    background: #9D0A7B;
    border-bottom: #B25691 solid 1px;
    opacity: 0.95;
    filter: alpha(opacity=95);
	@include max-screen (900px) {
	 position: fixed;
	 top: 0;
	 text-align: center;
	}

  h1 {
    text-shadow: 1px #333;
    color: white;
    font-size: 35px;
  }
}

.logo-pate {
  float: left;
  position: relative;
  top:18px;
  margin-right: 30px;

  @include max-screen(900px) {
  	position: absolute;
		left: 10px;
		right: 0;
		 
		 img {
		 	width: 120px;
		}
	}
}

.image-banner{
  top: 0;
  height:70%;
  width: 100%;
  background-image: url('/img/pate/img1.jpg'); 
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  padding-top: 240px;
  color: #fff; 
}

.objetive{
  margin: 7% 0;
	padding: 20px;
}
