<h1>Contacto</h1>
<form class="form" action="/mailer" method="POST" enctype="multipart/form-data">
	Name: <input type="text" name="name" />
	Email: <input type="text" name="email" />
	Phone: <input type="text" name="phone" />
	Institution: <input type="text" name="institution" />
	Content: <textarea name="content"></textarea>
	<input type="submit" value="Submit Comment" />
</form>