<div class="intro pate-intro image-banner">
	<h2>Ingreso a Cúrsame</h2>
</div>
<div class="wrapper">
	<div class="cols-12">
		<div class="col col-12">
			<div class="col-inner">
				<div class="info">
					<form class="form" action="http://api.cursa.me/api/sessions/create" method="POST" enctype="multipart/form-data" data-external="true">
						Email: <input type="email" name="email" value="jose_alfredo+version4@cursa.me"required/>
						Contraseña: <input type="password" name="password" value="alfredo2008"required/>
						<input type="submit" value="Ingresar" class="btn" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>