<%= erb :'/static_renders/simple_header', locals: {title: 'Noticias', icon: true,  call_icon: 'conect'}%>
<div class="wrapper">
	<div class="cols-12">
		<div class="col col-12">
		<%= erb :'/static_renders/building'%>
		</div>
	</div>
</div>