<div class="head-title bg-greengradient">
	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-12">
				<div class="col-inner">
					<h3><i class="i i-functions"></i> <%= title %></h3>
				</div>
			</div>
		</div>
	</div>
</div>