<ul>
	<li><a href="/">Inicio</a></li>
	<li><a href="/functions">Funciones</a></li>
	<li><a href="/plugins">Plugins</a></li>
	<li><a href="/benefits">Beneficios</a></li>
	<li><a href="/social">Social</a></li>
	<li><a href="/contact">Contacto</a></li>
</ul>