<form class="form" action="http://api.cursa.me" method="POST" enctype="multipart/form-data">
	Email: <input type="email" name="email" required/>
	Contraseña: <input type="password" name="password" required/>
	<input type="submit" value="Ingresar" class="btn" />
</form>
