<title>C&uacute;rsame: Plataforma educativa.</title>
<meta name="description" content="C&uacute;rsame la mejor plataforma educativa del mercado conectando profesores, alumnos y directivos al m&aacute;s accesible precio del mercado." />
<meta name="google-site-verification" content="2iDsswfLsUTCsZEFQ5vlpW4OUwsVwWsqwF5WHqAHuUM" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<meta name="robots" content="index, follow, noimageindex, noarchive">
<meta name="googlebot" content="index, follow, noimageindex, noarchive">
<meta http-equiv="Content-Type" content="LMS, Education, Social Learning, Aprendizaje Social, Education Software" />
<meta name="site" content="Cúrsame">
<meta name="author" content="Cúrsame">
<meta name="twitter" content="sumary, @cursame">
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-27929430-2', 'cursa.me');
ga('send', 'pageview');
</script>