
<div class="header_pate ">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
           <div class="logo-pate">
            <img src="/img/mainlogo.png" alt="">
          </div>
        <div class="menu-home">
          <ul class="menu-main nav-top">
       
          </ul>
        </div>

        <div class="menu-mobile totarget" data-target="menu-imobile">
         
        </div>
          <div class="login">
            <ul class="singin-button">
            
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>