<!-- BEGIN: main -->

<form class="form-signin" method="post" action="{__SITE_DOMAIN__}index.php?action=login">
        <h2 class="form-signin-heading">Inicia sesión</h2>
        
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Contraseña" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">iniciar sesión</button>
</form>
<!-- END: main -->