<script type="text/javascript" src="http://localhost:9393/plugins/loggin_plugin/2233355.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://localhost:9393/plugins/loggin_plugin/095205.css">
<div class="content-loggin-cursame" style="-webkit-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px;">
<div class="errors" style="display:none;"></div>
<div class="content-login">
	<form class="cursame-form" action="http://api.cursa.me/api/sessions/create" method="POST" enctype="multipart/form-data" data-external="true">
		<%= t.forms.email %>: <input type="email" name="email" value="" placeholder="your@email.com" required/>
		<%= t.forms.password %>: <input type="password" name="password" value="" placeholder="<%= t.forms.password %>" required/>
		<input type="submit" value="<%= t.forms.send_login %>" class="btn btn-send menu-get" />
	</form>
</div>
</div>
